html{font-size:32px}
body{min-width:320px;background:#e7e7e7}
body {position: relative}
[lang|=zh],[lang|=zh] body{font-family:"Microsoft Yahei",SimHei,STHeiti,sans-serif}
label[for]{cursor:pointer}
input[type=number]{-webkit-appearance:none;appearance:none;-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input,button{border-radius:0 !important}
.hidden,[hidden]{display:none!important}
.global-notice .no-cookie{display:none}
.no-cookies .global-notice .no-cookie{display:none}
a{color:inherit}
a:hover,a:focus{color:inherit;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0}
select[multiple],select[size],textarea{resize:vertical}
@-moz-document url-prefix() {
    fieldset {display:table-cell}
}
.input-box{position:relative}
.table th{font-weight:normal}
.header,.footer{display:none}
.main-container .container .col-left,.col-xs-3,.clo-sm-3,.col-md-2{display:none}
/*create user*/
.customer-account-create .main-container{padding:10px 11px 0 11px}
.customer-account .main-container .message-box{margin-top:0}
.customer-account-create .header-m{background:#3a3a3b;height:40px}
.customer-account-create .headimg-left{color:#747475;font-size:30px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-create .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-create .main-container .input-box{margin:8px 0}
.customer-account-create .main-container button{background:#05a0e9;width:100%;color:#fff}
.customer-account-create .text-center .text-left p{line-height:30px}  
.customer-account-create .text-center p a{color:#007ecc}
@media(min-width:768px){
    .customer-account-create .container{width:746px}
}
@media(min-width:1024px){
    .customer-account-create .container{width:1002px}
}
/*login*/
.customer-account-login .main-container{padding:10px 11px 0 11px}
.customer-account-login .main-container .message-box{margin-top: 0}
.customer-account-login .main-container .input-box{margin:18px 0}
.customer-account-login .header-m{background:#3a3a3b;height:40px}
.customer-account-login .header-m .headimg-left{color:#747475;font-size:30px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-login .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-login .register{height: 30px;margin-top:10px;font-size:12px;color:#00a2f0}
.customer-account-login .main-container button{background:#05a0e9;width:100%;color:#ffffff}
.customer-account-login .main-container .additional{line-height:30px}
.customer-account-login .input-group-addon{color: #fff;border-radius:0;height:20px;font-size:18px}
.customer-account-login label.invalid{position:absolute;top:100%;line-height:1.5;font-size:12px;left:6px}
.customer-account-login .text-color{color:#000}
@media(min-width:768px){
    .customer-account-login .container{width:746px}
}
@media(min-width:1024px){
    .customer-account-login .container{width:1002px}
}
/*customer-account-forgotpwd*/
.customer-account-forgotpwd fieldset{margin:10px 10px}
.customer-account-forgotpwd label{height: 30px;line-height: 30px}
.customer-account-forgotpwd .buttons-set{width:100%;background:#007ecc;color:#fff;margin: 10px 0}
.customer-account-forgotpwd .buttons-set button{width:100%;background:#007ecc}
.customer-account-forgotpwd .header-m{background:#3a3a3b;height:40px}
.customer-account-forgotpwd .header-m .headimg-left{color:#747475;font-size:30px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-forgotpwd .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
/*sales-refund*/
.sales-refund .col-main{padding:10px}
.sales-refund .fieldset .input-box label{text-align:right}
.sales-refund .buttons-set{width:100%}
.sales-refund .fieldset .input-box{width:100%;overflow:hidden;line-height:40px;}
.sales-refund .fieldset .input-box .cell{float:right}
@media(min-width:768px){
    .sales-refund .form-inline .form-control{width:100%}
}
@media(min-width:1024px){
    .sales-refund .form-inline .form-control{width:100%}
}
/*customer-account-edit*/
.customer-account-edit .fieldset{padding:0}
.customer-account-edit .fieldset [type=checkbox]:not(:checked)~.input-box{display:none}
.customer-account-edit .buttons-set{width:100%;margin:10px 0}
.customer-account-edit .buttons-set .btn{width: 100%;background:#007ecc;color:#ffffff}
.customer-account-edit .col-main{padding:10px}
.customer-account-edit .fieldset .input-box{line-height:30px;width:100%;overflow:hidden;margin: 5px 0}
.customer-account-edit .fieldset .input-box label{text-align:right;float:left}
.customer-account-edit .fieldset .input-box .cell{text-align:left;float:left}
.customer-account-edit .fieldset .input-box .cell input{width:100%;text-align:left}
@media(min-width:768px){
.customer-account-edit .fieldset .input-box label{width:15%;text-align:right;float:left}
.customer-account-edit .fieldset .input-box .cell {width:85%;text-align:left;float:left}
.customer-account-edit .fieldset .input-box .cell input{width:100%;text-align:left}
}
@media(min-width:1024px){
.customer-account-edit .fieldset .input-box label{width:15%;text-align:right;float:left}
.customer-account-edit .fieldset .input-box .cell {width:85%;text-align:left;float:left}
.customer-account-edit .fieldset .input-box .cell input{width:100%;text-align:left}
}
/*customer-account-address*/
.customer-account-address .col-main{padding: 10px}
.customer-account-address .sub-add{width:100%;color:#ffffff;color:#ffffff}
.customer-account-address .address-list li{background:#ffffff;margin-bottom:10px;padding:10px 10px;box-shadow: 0 5px 10px rgba(0,0,0,.150)}
.customer-account-address .address-list .action{color: #007ecc} 
.customer-account-address .btn{padding:5px 0;margin:0}
.customer-account-address .sub-add .btn-add{width:100%;background:#007ecc}
.customer-account-address .modal-dialog .modal-body .input-box{width:100%;overflow:hidden;line-height: 40px}
.customer-account-address .modal-dialog .modal-body .input-box label{width:21%;float:left;text-align:right}
.customer-account-address .modal-dialog .modal-body .input-box .cell{width:79%;float:left}
/*catalog-product*/
.catalog-product .related .carousel-inner>.active, .related .carousel-inner>.next, .carousel-inner>.prev{display:block}
@media(min--width:375px){
    .catalog-product .related .products-grid .item .col-xs-4 a{
        width:115px;
        display: block
    }
}
/*customer-wishlist*/
.customer-wishlist .product-name{font-size: 16px}
.customer-wishlist .options dt{float:left;line-height:20px;margin-right:5px}
.customer-wishlist .options dd{float:left;margin-left:5px;line-height:20px;margin-right:5px}
.customer-wishlist .wishlist_edit{display:block}
.customer-wishlist .btn{background:#007ecc;color:#ffffff}
.catalog-product .products-grid .item{box-shadow: 0 5px 10px rgba(0,0,0,.150);background:#fff;padding:1%;margin:1%;width:31%}
.catalog-product .products-grid .item img{width: 100%}
.catalog-product .related .product-link {padding-bottom: 30px}
.catalog-product .carousel-indicators li{background:#ffffff;border: 1px solid #ffffff}
.catalog-product .carousel-indicators .active{background: #ff8a00;border: 1px solid #ff8a00}
.catalog-product .product-essential .product-info .price-box{padding:0 15px}
.catalog-product .product-essential .product-info .price-box .special-price,.old-price{display: block}
.catalog-product .product-essential .product-info .price-box .old-price{color:#8f8f8f;}
.catalog-product .products-grid .item .price-box{color:#ff8a00}
/*checkout-cart*/
.checkout-cart .additional{width: 100%;overflow: hidden}
.checkout-cart #cart{margin-bottom: 10px}
.checkout-cart .additional .nav-tabs{height: 50px;line-height:50px;background: #ffffff;margin-bottom:10px}
.checkout-cart .additional .nav-tabs li.active{background:#f1f1f1}
.checkout-cart .additional .tab-content{width: 100%;overflow: hidden;margin-bottom:50px;padding-bottom: 30px}
.checkout-cart .additional .tab-content .products-grid .item{box-shadow: 0 5px 10px rgba(0,0,0,.150);background:#fff;padding:1%;margin:1%;width:31%}
.checkout-cart .additional .tab-content .products-grid .item img{width: 100%}
.checkout-cart .additional .tab-content .carousel-indicators{bottom:-20px}
.checkout-cart .additional .tab-content .carousel-indicators li{background:#ffffff;border:#ffffff 1px solid}
.checkout-cart .additional .tab-content .carousel-indicators .active{background:#ff8a00;border:#ff8a00 1px solid}
/*breadcrumb-m*/
.wrapperhovertree {text-align:right;min-height: 100%;height:auto;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;
                   -o-background-size: 100% 100%;background-size: 100% 100%;}
.wrapperhovertree {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box}
.wrapperhovertree .container{position: relative;z-index: 1000;height:100%;width: 100%}
div.slide-mask {position: absolute;z-index: 1000;left: 0;top: 0;width: 30%;height: 100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;display: none;}
aside.slide-wrapper {position: absolute;z-index: 10001;left: 0;top: 50px;width: 30%;-webkit-transform: translate3d(-100%, 0, 0);
                     -moz-transform: translate3d(-100%, 0, 0);-ms-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0);
                     transform: translate3d(-100%, 0, 0); -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out}
aside.slide-wrapper > div {background-color: #ffffff;min-height: 100%}
aside.slide-wrapper.moved {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
aside.slide-wrapper li > a {padding: 10px 10px;border-bottom: 1px solid #e1e1e1;display: block;color: #333}
aside.slide-wrapper li.current > a {background-color: #f1f1f1}

.customer-account-dashboard .header-m{background:#007ecc;height:40px;border-width:0 0 1px;border-style:solid;border-color:#57aadd}
.customer-account-dashboard .col-main{width:100%;overflow:hidden;margin-bottom:50px}
.customer-account-dashboard .profile{background:#007ecc;color:#fff;width:100%;overflow:hidden}
.customer-account-dashboard .profile .info{width:80%;margin:4px 10%;text-align:center}
.customer-account-dashboard .order{background:#ffffff;margin-bottom:5px;width:100%;overflow:hidden}
.customer-account-dashboard .coupon{width:100%;overflow:hidden}
.customer-account-dashboard .panel{margin-bottom: 5px;background-color: #fff;border:none;border-radius:0;box-shadow:none}
.customer-account-dashboard .order .panel-heading{border-bottom:1px solid #eff0f4;padding:10px 10px}
.customer-account-dashboard .order h3 {line-height:30px;display:inline-block;width:100%}
.customer-account-dashboard .order h3 .fa{color:#007ecc;padding-right:5px}
.customer-account-dashboard .order h3 .text-right{color:#b5b5b5}
.customer-account-dashboard .order h3 a{display: block;float:right;color:#b5b5b5;padding-top:7px}
.customer-account-dashboard .order .panel-info li{line-height:40px;margin-top:10px}
.customer-account-dashboard .order .panel-info li a{display:block;margin:0 auto;color:#b5b5b5}
.customer-account-dashboard .headimg-left{color:#c3d9ee;font-size:24px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-dashboard .headimg-right{color:#c3d9ee;font-size:24px;float:left;margin-right:4%;width:6%;line-height:40px}
.customer-account-dashboard .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-dashboard .col-xs-9{width:100%}
.customer-account-dashboard .profile .head_pic{margin-top:10px}
.customer-account-dashboard .profile .head_pic img{margin:0 auto}
.customer-account-dashboard .myinfo{background:#007ecc;text-align:center;padding-bottom:10px}
.customer-account-dashboard .wel-name{color:#fff}
.customer-account-dashboard .fa-star{color:#ff8a00;margin:10px 3px}
.customer-account-dashboard .fa-star-null{color:#86d1ff}
.customer-account-dashboard .start{background:#fff;padding:0 3px;margin-left:3px;display:inline-block;color:#007ecc}
.customer-account-dashboard .start-num{font-size:10px;padding-left:1px}
.customer-account-dashboard .infodetail .badge{position:absolute;margin-left:5px;display:inline-block;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.customer-account-dashboard .infodetail .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.customer-account-dashboard .info-num{width:40px;height:40px;background:#0185d7;margin:10px auto;line-height:40px;font-size:18px;color:#fff}
.customer-account-dashboard .profile .info .wishlist_track li{line-height:40px;margin-top:10px}
.customer-account-dashboard .profile .info .wishlist_track a{width:50px;height:50px;line-height:50px;background:#0185d7;display:block;margin:0 auto}
.customer-account-dashboard .profile .info .order .panel-title{display:inline-block}
.customer-account-dashboard .profile .info .order .panel-title span{float:right;display:block}
.customer-account-dashboard .info-box{float:left;width:33.33333333%;font-size:12px}
.customer-account-dashboard .title-content{height:30px;background:#fff;margin-top:10px;border-width:0 0 1px;border-style:solid;border-color:#eff0f4}
.customer-account-dashboard .custom-info{width:100%;overflow:hidden;background:#ffffff;margin-bottom:5px}
.customer-account-dashboard .custom-info .panel-heading{border-bottom:1px solid #eff0f4}
.customer-account-dashboard .custom-info h3{line-height: 30px;width:100%;display:inline-block}
.customer-account-dashboard .custom-info h3 a{width:10%;display:block;float:right;color:#b5b5b5;padding-top:7px}
.customer-account-dashboard .custom-info h3 .fa{color:#007ecc;padding-right:5px}
.customer-account-dashboard .custom-info h3 .text-right{color:#b5b5b5}
.customer-account-dashboard .profile-foot{position:fixed;z-index:1000;bottom:0;height:50px;background:#ffffff;width:100%;color:#5a5a5a;line-height:50px}
.customer-account-dashboard .profile-foot li{line-height:50px}
.customer-account-dashboard .notop{margin-top:0;padding-left:4px}
.customer-account-dashboard .title-content .title-left{float:left;margin-left:20px;color:#007ecc;font-size:20px;line-height:30px;}
.customer-account-dashboard .title-content .title{float:left;font-size:16px;line-height:30px;margin-left:5px}
.customer-account-dashboard .title-content .title-right{color:#b5b5b5;font-size:24px;float:right;margin-right:4%;width:6%;line-height:30px}
.customer-account-dashboard .panel-info{width:100%;overflow:hidden}
.customer-account-dashboard .content{background:#fff;height:70px;padding-top:15px;font-size:12px}
.customer-account-dashboard .content .fa{font-size:24px;color:#b5b5b5;line-height:18px}
.customer-account-dashboard .content .font-fa{font-size:25px}
.customer-account-dashboard .content-box{width:25%;float:left;text-align:center}
.customer-account-dashboard .box-line{border-width:0 1px 0;border-style:solid;border-color:#eff0f4;font-size:12px}
.customer-account-dashboard .asset-box{width:33.33333333%;float:left;text-align:center}
.customer-account-dashboard .asset-num{color:#007ecc;font-weight:bold}
.customer-account-dashboard .content-last{padding:5px 0}
.customer-account-dashboard .content-last a{display:block;width:100%}
.customer-account-dashboard .content-box .badge{background-color:#b5b5b5;color:#fff;font-size:16px;border-radius:16px;line-height:15px}
.customer-account-dashboard .content-box .fa-credit-card-alt{font-size:22px}
.customer-account-dashboard .num-span{color:#2387cf}
.customer-account-dashboard .badge{position:absolute;margin-left:5px;display:inline-block;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.customer-account-dashboard .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.customer-account .profile .info .name .badge{background: #fdbb30;font-size: 12px;line-height: 20px;padding: 0 5px;border-radius: 2px;color: #fff;width:20px;height:20px}
.customer-account .profile .info .name .level{position:relative;z-index:1}
.customer-account .header-m{width:100%;height:50px;line-height:50px;background:#007ecc;color:#ffffff}
.customer-account .header-m a{height:50px;line-height:50px}
.customer-account .header-m .container{font-size:20px;line-height:50px}
.sales-refund .buttons-set .btn{padding:6px 46%;background:#007ecc;color:#ffffff}
.main-container .breadcrumb-m {position:fixed;top:0;z-index:100;width:100%;background: #757576;height:50px;}
.main-container .breadcrumb-m .breadcrumb-right{text-align:right}
.main-container .breadcrumb-m .fa{color:#a7a7a7;line-height:50px}
.main-container .breadcrumb-m .content-list{line-height:50px;text-align:center}
.main-container .breadcrumb-m .content-list a:hover{color:#ffffff}
.main-container .breadcrumb-m .content-list a{color:#c8c6c6}
.main-container .message-box{margin-top:50px} 
.product-essential .carousel .carousel-indicators{bottom:-10px}
.product-essential .carousel .carousel-indicators .active{width:10px;height:10px;background:#ff8a00;border:1px solid #ff8a00}
.product-essential .carousel .carousel-indicators li{background-color:rgba(196,196,196,158);border:1px solid #c4c4c4}
.product-essential .carousel .carousel-inner img{margin: 0 auto;vertical-align:middle}
.product-essential .product-info .product-name{font-size:16px;line-height:30px;text-align:center}
.product-essential .price-box .price{color:#ff8a00;font-weight:bold;margin-left: 15px}
.product-essential .price-box .share .fa-share-alt{ color:#ff8a00;margin-right:8px}
.product-essential .price-box .share{width:100%;text-align:right}
.product-essential .price-box .share .dropdown-menu{border:none;background:#fff;font-size:12px;padding:0}
.product-essential .price-box .share .dropdown-menu>li>a{padding:3px 4px}
@media(min-width:320px){
.product-essential .price-box .share .dropdown-menu{border:none;background:#fff;font-size:12px;padding:0}
.product-essential .price-box .share .dropdown-menu>li>a{padding:2px 2px}
}
@media(min-width:768px){
    .product-essential{padding:10px}
    .product-essential .price-box .share .dropdown-menu{border:none;background:#fff}
    .product-essential .price-box .share .dropdown-menu>li>a{padding:2px 5px}
}
@media(min-width:1024px){
    .product-essential{padding:10px}
    .product-essential .price-box .share .dropdown-menu{border:none;background:#fff;left:15%}
    .product-essential .price-box .share .dropdown-menu>li>a{padding:2px 5px}
}

.product-essential .product-info .selected{border-top:12px solid #e7e7e7;border-bottom:12px solid #e7e7e7;background:#fff;margin-top: 30px}
@media(min-width:768px){
    .product-essential .product-info .product-name{font-size:16px;line-height:30px;text-align:center;margin-left:10px}
    .product-essential .product-info .selected{border-top:12px solid #e7e7e7;border-bottom:12px solid #e7e7e7;background:#fff;margin-top: 30px;margin-left:10px}
}
.catalog-product #description .product-attributes{padding:5px}
.product-essential .product-info .selected span{text-align:right;float:right;color:#b5b4b4}
.product-essential .product-info .selected a{width:90%;margin:0 5%;padding: 10px 0;display:inline-block}
.product-essential .product-info .modal-dialog{position:absolute;bottom:0;width:100%;margin:0}
.product-essential .product-info .modal-dialog .options{margin-bottom:30px}
.product-essential .product-info .modal-dialog銆�.options .cell{display: table-cell;padding-bottom: 15px;}
.product-essential .product-info .modal-dialog .options .cell [type=radio], .product-essential .product-info .options .cell [type=checkbox]{display:none}
.product-essential .product-info .options .cell [type=radio]+label, .product-essential .product-info .options .cell [type=checkbox]+label{margin: 0 8px 10px 0;line-height: 26px;border: 1px solid #f4f4f4;color: #333;padding: 0 6px;border-radius:10px;background:#e7e7e7}.product-essential .product-info .options .cell [type=radio]:checked+label, .product-essential .product-info .options .cell [type=checkbox]:checked+label{border-color: #ff8a00;color: #ffffff;background:#ff8a00;border-radius:10px}
.product-essential .product-info .options label, .radio label{padding-left:0;margin-bottom:10px}
.product-essential .product-info .options .input-box .control-label{display:inline-block}
.product-essential .product-info .options .control-label {display: table-cell;font-size: 12px}
.product-essential .product-info .options label,input{margin:0;padding:0}

.qty .form-control {display:inline-block;font-size: 14px;line-height: 28px;border: 1px solid #d4d4d4;border-left: none;border-right: none;width: 50px;height: 28px;border-radius: 0;padding: 0;text-align: center;margin:0}
.qty .spin {font-size: 18px;line-height: 22px;border: 1px solid #d4d4d4;width: 28px;height: 28px;text-align: center;color: #cbcbcb;background: #ededed;}
.modal-dialog .modal-footer{padding:0}
.modal-dialog .modal-footer .btn{float: left;padding: 6px 12px;margin-bottom: 0;font-size: 14px;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.product-essential .product-info .action .btn {min-width: 50%;margin:0;float: left;height: 40px;background-color: #ff8a00;color: #ffffff;border-radius: 0;font-size: 16px;padding: 0 25px;}
.product-essential .product-info .action .btn-checkout{min-width: 50%;margin:0;float: left;height: 40px;background-color: #ff440a;color: #ffffff;border-radius: 0;font-size: 16px;padding: 0 25px;}
@media (min-width:1024px){
    .carousel-inner>.item {
        transition: transform .6s ease-in-out;
        backface-visibility: hidden;
        perspective: 1000px;
        width:100%;
    }}
.related .title{font-size:16px;line-height:40px;background:#fff;padding-left:15px;margin-bottom:10px}
.related .product-link .products-grid{text-align:center}
.related .product-link .products-grid p{height:30px;line-height:30px;overflow-y:hidden;margin-bottom:0}
.product-store{position:fixed;bottom:0;z-index:100;height:50px;background:#ffffff}
@media(min-width:768px) {
    .product-store{position:fixed;bottom:0;z-index:100;height:50px;background:#ffffff;width:100%;left:0}    
}

.product-store li{line-height:16px;height:50px;text-align:center;color:#9b9a9a;font-size:10px}
.product-store span{display:block;padding-top:10px}
.product-store .fa{color:#ff8a00;font-size:20px;}
.product-store li .btn{background:#007dc6;color:#ffffff;width:100%;height:50px;font-size:13px}
.product-store .col-xs-3{display:block}
.product-store .col-xs-3 .btn-checkout{background:#ff8a00}
.product-detail{margin:30px auto 60px;overflow:hidden;width:100%}
.product-detail .review-form span,.review-padding p{margin-left: 15px}
.product-detail .tab-content #description{margin-top:60px;background:#fff}
.container .nav-tabs>li>a{margin-right:0;border:0}
.container .nav-tabs>li>a:hover{border: none;background:none}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:none;border:0}
.container .nav-tabs{border:none}
.container .nav-tabs li a{line-height:30px;height:50px;text-align:center}
.product-detail .review-form input,textarea{width:85%}
.product-detail .review-form button{width:100%;background:#ff8a00;color:#fff}
.product-detail .tab-content .tab-pane img{width:100%}
.product-detail .info{margin-bottom:10px;background:#ffffff}
.product-detail .affix{position:fixed;z-index:1001;top:0;background:#8f8f8f;color:#c8c6c6}
.product-detail .fa{line-height:50px;color:#a7a7a7}
.product-info .modal-body{width:100%;overflow:hidden}
.container .products-grid .product-list{text-align:center;box-shadow: 0 5px 10px rgba(0,0,0,.150);width:48%;background:#ffffff;padding: 1% 1%;margin: 1%}
.container .products-grid .product-list .product-image{display:block;max-width:100%;height:auto}
@media(min-width:768px){
    .container .products-grid .product-list{text-align:center;box-shadow: 0 5px 10px rgba(0,0,0,.150);width:31%;background:#ffffff;padding: 1% 1%;margin: 1%}
    .container .products-grid .product-list .product-image{display:block;max-width:100%;height:auto}
}
@media(min-width:1024px){
    .container .products-grid .product-list{text-align:center;box-shadow: 0 5px 10px rgba(0,0,0,.150);width:23%;background:#ffffff;padding: 1% 1%;margin: 1%}
    .container .products-grid .product-list .product-image{display:block;max-width:100%;height:auto}
}
.related .carousel-inner>.item{text-align:center;box-shadow: 0 5px 10px rgba(0,0,0,.150);width:31%;background:#ffffff;padding: 1% 1%;margin: 1%}
.related .carousel-inner>.item li img{width:100%}
@media(min-width:1024px){
    .related .carousel-inner>.item{text-align:center;box-shadow: 0 5px 10px rgba(0,0,0,.150);width:23%;background:#ffffff;padding: 1% 1%;margin: 1%}
    .related .carousel-inner>.item li img{width:100%}
}
.products-grid .item .product-name{font-size:1em;border-bottom:1px solid #d7d7d7;height:30px;line-height: 30px;overflow-y:hidden;padding:0 1%}
.catalog-category .open .filters{border:1px solid #fff;padding:0 15px;width: 100%}
.filters dt{clear:both;padding:15px 0;text-align:center}
.filters dd{padding:15px 0;display:table}
.filters dd+dt,.filters dd+dt+dd{border-top:1px solid #fff}
.filters a,.filters dt{color:#575656;font-size:12px;line-height:20px}
.filters .init{display:table-cell;width:8.5%;border-left:1px solid #fff;padding:0 20px 0 15px;white-space:nowrap;text-align:center}
.filters .active a{color:#007dc6}
.filters .more{display:table-cell;width:5%;white-space:nowrap}
.filters .more a{display:inline-block;border:1px solid #757576;padding:0 6px}
.filters .more a:after{content:" ";display:inline-block;width:0;height:0;border:3.46410162px solid transparent;border-top:6px solid #757576;border-bottom:none}
.filters .all .more a:after{border-top:none;border-bottom:6px solid #757576}
.filters .values{display:table-cell;width:85%}
.filters .values ul{height:22px;overflow:hidden}
.filters .all .values ul{height:auto}
.filters .values.open ul{height:auto}
.filters .values li{margin-right:20px;padding:1px 0}
.view-by{border-bottom:1px solid #fdcb60;background-color:#f5f6f9;height:41px}
.view-by a{display:block;font-size:14px;line-height:40px;padding:0 5px}
.view-by .sort-by{float:left}
.view-by .sort-by a{padding:0 20px}
.view-by .sort-by>li+li{border-left:1px solid #cfd0d4}
.view-by .sort-by>li.active{background-color:#007dc6;color:#fff}
.view-by .limit,.view-by .mode{float:right}
.view-by .limit .dropdown-menu{left:auto;right:0;min-width:0}
#cart{color:#696868;font-size:12px;margin-bottom:50px;overflow:hidden}
#cart .store{background:#ffffff;line-height:40px;border-bottom:1px solid #e3e5eb}
#cart .selectall{background:#ffffff;line-height:50px;margin-bottom: 5px}
#cart .col-xs-1{text-align:center}
#cart .qty{color:#000}
#cart .subtotal{color:#007dc6;font-size:16px}
#cart .product-name{vertical-align:top}
#cart .total,.selected{font-size:16px;color:#007dc6;font-weight:bold}
.product-info .selected a{font-size:16px;color:#9b9a9a;font-weight:normal}
#cart,.order .col-xs-3{display:block}
#cart .qty .form-control{display:inline-block;font-size:14px;line-height:26px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;border-left:none;border-right:none;width:40%;height:28px;border-radius:0;padding:0;text-align:center;vertical-align:bottom}
#cart .product-list .product-img{float:left;width:26%}
#cart .product-list .product-name{float:left;width:72%;margin-right:2%}
#cart .checkout{background:#ffffff;height:50px;line-height:50px;position:fixed;bottom:0;z-index:10}
#cart .checkout li{line-height:50px}
#cart .checkout .btn-checkout{background:#ffb900;color: #fff;font-size:16px;text-align:center}
#cart .checkout .btn{background:#ffb900}
#cart .checkout .btn.active, .btn:active{box-shadow:none}
#cart .qty .spin{font-size: 18px;line-height: 22px;border:1px solid #d4d4d4;width:30%;height: 28px;text-align: center;color: #cbcbcb;background: #ededed}
#cart .store{padding-right:5%}
.tab-content .products-grid .item{text-align:center}
.tab-content .products-grid .item p{height:20px;line-height:20px;overflow-y:hidden;margin:0 5%}
.checkout-order .message-box{margin-top:50px}
.checkout-order .checkout-steps section{background:#fff;margin-bottom:5px;font-size:13px;width:100%;overflow:hidden;padding:0 5px}
.checkout-order .checkout-steps .payment{margin-bottom:60px}
.checkout-order .checkout-steps h4{line-height: 50px;font-size: 1em;font-weight:bold}
.checkout-order .address .list{height:60px;line-height:60px;overflow-y:hidden}
.checkout-order .address .list li{display:inline-block;line-height:30px}
.checkout-order .address .list li input{float:left;margin-top: 26px}
@media(min-width:768px){
    .checkout-order .address .list li input{float:left;margin-top: 10px}
    .checkout-order .address .list li .fa{line-height:30px}
}
.checkout-order .address .list li label{width:90%}
.checkout-order .address .list li .fa{float:right;color:#b5b5b5;line-height:60px}
.checkout-order .checkout-steps .payment li{margin-right:10px}
.checkout-order .coupon a{position:relative;z-index: 10;display:inline-block; background: url(../images/bg-coupon-yellow.png) left top,url(../images/bg-coupon-yellow.png) right top; background-repeat: repeat-y;background-color: #f7bc44;color: #fff;font-size: 12px;padding: 0 9px;line-height:30px}
.checkout-order .coupon .dropdown-menu{min-width:100%;width:100%;border-top-left-radius:0;background-color: #f7bc44;color: #fff}
.checkout-order .coupon .dropdown-menu label{padding:0 .5em;display:block}
@media(min-width:768px){
    .checkout-order .coupon .dropdown-menu{min-width:100%;width:100%;border-top-left-radius:0;background-color: #f7bc44;color: #fff;left: 50%}
}
@media(min-width:1024px){
    .checkout-order .coupon .dropdown-menu{min-width:100%;width:100%;border-top-left-radius:0;background-color: #f7bc44;color: #fff;left: 50%}
}
.checkout-cart p a{color:#007ecc}
.checkout-cart #cart .product-list{border-bottom:1px solid #e3e5eb;background:#ffffff;padding:10px 5% 10px 0}
.checkout-cart #cart .product-list .product-name dl{line-height:20px;width:100%;color:#979797}
.checkout-cart #cart .product-list .product-name dt,dd{float:left;line-height:20px;display:inline-block}
.checkout-cart #cart .product-list .product-name dt:after{content:":"}
.checkout-cart #cart .product-list .product-name dd{margin-right:5px}
.checkout-cart #cart .product-list .product-name h4{font-size:13px;color:#696868;height:20px;line-height:20px;overflow-y:hidden}
.checkout-cart #cart .product-list .price{color:#007ecc;font-weight:bold;text-align:center}
.checkout-cart #cart .product-list .qty p{line-height:16px;text-align:center;margin-bottom:0}
.checkout-order-success h3,h4,li{line-height:30px}
.checkout-order-success li{margin:0 10px}
.product-info .list-inline .dropdown-menu{background: none;color:#ffffff}
.checkout-steps .review .order{overflow:hidden}
.checkout-steps .review .order .store{height:40px;line-height:40px;border-bottom:1px solid #e3e5eb}
.checkout-steps .review .order .store li{height:40px;line-height:40px}
.checkout-steps .review .order .product-list{padding:15px 0 0 0;border-bottom:1px solid #e3e5eb}
.checkout-steps .review .order .product-list .product-img{float:left;width:26%}
.checkout-steps .review .order .product-list .product-name{float:left;width:72%;margin-right:2%}
.checkout-steps .review .order .product-list .product-name h4{line-height:20px;font-size:1em;font-weight:normal;height:40px;overflow-y:hidden}
.checkout-steps .review .order .product-list .product-name .options{margin-bottom:0;line-height:20px;display:inline-block;width: 100%;color:#979797}
.checkout-steps .review .order .product-list .product-name .options dt{float:left;}
.checkout-steps .review .order .product-list .product-name .options dt:after{content:":"}
.checkout-steps .review .order .product-list .product-name .options dd{float:left;margin-right:5px}
.checkout-steps .review .order .product-list .price{color:#007ecc;font-weight:bold}
.checkout-steps .review .order .product-list .qty{color:#000;line-height:26px;text-align:right}
.checkout-order .review .order .shipping{padding-top:5px}
.checkout-steps .review .order .shipping,.subtotal{line-height:40px;width:100%;overflow:hidden}
.checkout-steps .review .order .total .table{overflow: hidden}
.checkout-steps .review .order .total .table span{color: #007ecc;font-weight:bold}
.checkout-order .review .tfoot .buttons-set{background:#ffffff;position:fixed;bottom:0;z-index:1001;margin-left:-5px}
.checkout-order .review .tfoot .buttons-set p{width:70%;height: 50px;line-height:50px;float:left;margin-bottom:0}
.checkout-order .review .tfoot .buttons-set p span{color: #007ecc;font-size:20px;font-weight:bold}
.checkout-order .review .tfoot .buttons-set .btn{background:#ffb900;text-align:center;padding:0}
.checkout-order .review .tfoot .buttons-set .btn.active,.btn:active{box-shadow: none}
.checkout-order .review .tfoot .buttons-set button{background:#ffb900;color:#fff;text-align:center;width:30%;left:70%;height:50px;line-height:50px}
.checkout-order .review .grand-total{position:fixed;z-index: 1002;bottom:0;width:70%;margin-left:-5px}
.checkout-order .review .grand-total li{height:50px;line-height:50px}
.checkout-order .review .grand-total .text-left{color:#007ecc;font-size:16px;font-weight:bold}
.col-xs-3{display:inline-block}
.customer-account-edit .fieldset [type=checkbox]:not(:checked)~.input-box{display:none}
.modal-dialog .modal-footer .btn{;width:49%;float:left;background:#007ecc;color:#ffffff}
.page-not-found .notice{width:100%;overflow:hidden;text-align:center}
.page-not-found .notice dt,dd{line-height:20px}
.page-not-found .notice dd a{color:#007ecc}
.sales-order-view .wide .table-responsive table dt,dd{float:left}
.sales-order-view .wide .table-responsive table dd{margin-right:20px}
.sales-order-view .wide .table-responsive table tfoot dd{color:#007ecc}
.special-price .price{color: #ff8a00;font-weight:bold}
.old-price .price{text-decoration: line-through;color: #9b9a9a!important}
/*retailer-account*/
.retailer-processing .page-content>.flow, .retailer-processing .page-content>.flow{
    padding:28px 0 28px 10px;
}
.retailer-account-dashboard .main-container .message-box{margin-top: 0}
.retailer-processing .page-content>.flow li,.retailer-processing .page-content>.flow li{counter-increment:item;display:block;border-top:1px dashed #dee1e8;float:left;width:33.33333333%;color:#7a7a7a}
.retailer-account-dashboard .main-container .dashboard .myinfo{background:#007ecc;color:#ffffff}
.retailer-account-dashboard .main-container .dashboard .infodetail{display:inline-block;text-align:center}
.retailer-account-dashboard .main-container .dashboard .infodetail .pull-left{width: 100%}
.retailer-account-dashboard .main-container .dashboard .infodetail img{margin-left:auto;margin-right:auto;clear:both}
.retailer-account-dashboard .main-container .dashboard .wel{font-size:14px}
.retailer-account-dashboard .main-container .dashboard .wel-name{font-size:20px;display:block}
.retailer-account-dashboard .main-container .dashboard .fa-star{color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .fa-star-o{color:#bcbcbc}
.retailer-account-dashboard .main-container .dashboard .start{display:inline-block;background-color:#007dc6;color:#ffffff;width:22px;text-align:center}
.retailer-account-dashboard .main-container .dashboard .start-v{font-size:17px}
.retailer-account-dashboard .main-container .dashboard .start-num{font-size:12px}
.retailer-account-dashboard .main-container .dashboard .bal-text{font-size:12px}
.retailer-account-dashboard .main-container .dashboard .bal-num{font-size:13px;color:#007dc6;font-weight:bold}
.retailer-account-dashboard .main-container .dashboard .tran-num{font-size:13px;color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .order{margin-top:20px}
.retailer-account-dashboard .main-container .dashboard .myorder{border-bottom:1px solid #dbdee5;margin-top:25px;height:55px;line-height:55px;font-size:14px;color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .myorder-text{border-bottom:1px solid #007dc6;height:55px;line-height:55px;width:150px;text-align:center}
.retailer-account-dashboard .main-container .dashboard .coupon-title{border-bottom:1px solid #dbdee5;margin-bottom:20px;height:55px;line-height:55px;font-size:14px;color:#007dc6}
.retailer-account-dashboard .main-container .coupon{margin-bottom:30px}
.retailer-apply .page-content>.alert-warning,.retailer-processing .page-content>.alert-warning{border-radius:0;border-color:#fdd685;margin-top:10px;padding:6px 30px;font-size:12px;line-height:24px;color:#7c7c7c}

.retailer-apply .page-content>.flow li,.retailer-processing .page-content>.flow li{counter-increment:item;display:block;border-top:1px dashed #dee1e8;float:left;width:33.33333333%;color:#7a7a7a}
.retailer-apply .page-content>.flow li:last-child,.retailer-processing .page-content>.flow li:last-child{border:none}
.retailer-apply .page-content>.flow li:before,.retailer-processing .page-content>.flow li:before{content:counter(item);display:block;margin:-.5625em 0 0;font-size:16px;line-height:1.125;width:1.125em;height:1.125em;color:#fff;background:#aaa9a9;text-align:center;border-radius:.5625em;text-indent:0}
.retailer-apply .page-content>.flow li.active:before,.retailer-processing .page-content>.flow li.active:before{background:#7a7a7a}
.retailer-apply .page-content>.flow li span,.retailer-processing .page-content>.flow li span{display:block;margin-left:-1.4375em}
.retailer-apply .page-content .form,.retailer-processing .page-content .form{border:1px solid #dfe1e8;padding:70px 30%;text-align:center;min-height:430px;margin-bottom:20px}
.retailer-apply .page-content .fieldset{text-align:left}
.retailer-processing .page-content .notice{font-size:14px;line-height:48px;color:#007dc6}
.retailer-processing .page-content .notice .btn,.retailer-apply .page-content .form>.btn{display:block;margin:10px auto;width:162px;height:42px;font-size:20px;color:#fff;line-height:1.5;border:none;background:linear-gradient(to bottom,#1da7f8,#007ec7)}
.retailer-processing .page-content .notice .btn:hover,.retailer-apply .page-content .form>.btn:hover{background:linear-gradient(to bottom,#007ec7,#1da7f8)}