html{font-size:32px}
body{min-width:320px;background:#e7e7e7}
body {position: relative}
[lang|=zh],[lang|=zh] body{font-family:"Microsoft Yahei",SimHei,STHeiti,sans-serif}
label[for]{cursor:pointer}
input[type=number]{-webkit-appearance:none;appearance:none;-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input,button{border-radius:0 !important}
.hidden,[hidden]{display:none!important}
.global-notice .no-cookie{display:none}
.no-cookies .global-notice .no-cookie{display:none}
a{color:inherit}
a:hover,a:focus{color:inherit;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0}
select[multiple],select[size],textarea{resize:vertical}
.input-box{position:relative}
.table th{font-weight:normal}
.header,.footer{display:none}
.main-container .container .col-left,.col-xs-3,.clo-sm-3,.col-md-2{display:none}
.customer-account-create .header-m{background:#3a3a3b;height:40px}
.customer-account-create .headimg-left{color:#747475;font-size:30px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-create .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-create .main-container{padding:40px 11px 0 11px}
.customer-account-create .main-container .input-box{margin:8px 0}
.customer-account-create .main-container .additional{margin-top:50px;padding-left:14px}
.customer-account-create .main-container button{background:#05a0e9;width:100%}
.customer-account-login .main-container .input-box{margin:18px 0}
.customer-account-login .header-m{background:#3a3a3b;height:40px}
.customer-account-login .header-m .headimg-left{color:#747475;font-size:30px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-login .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-login .main-container button{background:#05a0e9;width:100%}
.customer-account-login .main-container .additional{margin-top:50px;padding-left:14px}
.customer-account-login .input-group-addon{color: #fff;border-radius:0;height:20px;font-size:18px}
.customer-account-login .main-container{padding:40px 11px 0 11px}
.customer-account-login label.invalid{position:absolute;top:100%;line-height:1.5;font-size:12px;left:6px}
.customer-account-login .register{margin:10px;font-size:12px;color:#00a2f0}
.customer-account-login .pull-right{margin:0 5px}
.customer-account-login .text-color{color:#000}
.customer-account-dashboard .header-m{background:#007ecc;height:40px;border-width:0 0 1px;border-style:solid;border-color:#57aadd}
.customer-account-dashboard .headimg-left{color:#c3d9ee;font-size:24px;float:left;margin-left:4%;width:6%;line-height:40px}
.customer-account-dashboard .headimg-right{color:#c3d9ee;font-size:24px;float:left;margin-right:4%;width:6%;line-height:40px}
.customer-account-dashboard .header-m .container{color:#fff;font-size:20px;float:left;width:80%;text-align:center;line-height:40px}
.customer-account-dashboard .col-xs-9{width:100%}
.customer-account-dashboard .profile .head_pic{margin-top:40px}
.customer-account-dashboard .profile .head_pic img{margin:0 auto}
.customer-account-dashboard .myinfo{background:#007ecc;text-align:center;padding-bottom:10px}
.customer-account-dashboard .wel-name{color:#fff}
.customer-account-dashboard .fa-star{color:#ff8a00;margin:10px 3px}
.customer-account-dashboard .fa-star-null{color:#86d1ff}
.customer-account-dashboard .start{background:#fff;padding:0 3px;margin-left:3px;display:inline-block;color:#007ecc}
.customer-account-dashboard .start-num{font-size:10px;padding-left:1px}
.customer-account-dashboard .infodetail .badge{position:absolute;margin-left:5px;display:inline-block;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.customer-account-dashboard .infodetail .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.customer-account-dashboard .profile{background:#007ecc;color:#fff;padding-bottom:70px}
.customer-account-dashboard .main-container .message-box{margin-top:0}
.customer-account-dashboard .info{width:80%;height:85px;margin:4px 10%}
.customer-account-dashboard .info {text-align:center}
.customer-account-dashboard .info-num{width:40px;height:40px;background:#0185d7;margin:10px auto;line-height:40px;font-size:18px;color:#fff}
.customer-account-dashboard .profile .info .wishlist_track li{line-height:40px;margin-top:10px}
.customer-account-dashboard .profile .info .wishlist_track a{width:50px;height:50px;line-height:50px;background:#0185d7;display:block;margin:0 auto}
.customer-account-dashboard .profile .info .order .panel-title{display:inline-block}
.customer-account-dashboard .profile .info .order .panel-title span{float:right;display:block}
.customer-account-dashboard .info-box{float:left;width:33.33333333%;font-size:12px}
.customer-account-dashboard .title-content{height:30px;background:#fff;margin-top:10px;border-width:0 0 1px;border-style:solid;border-color:#eff0f4}
.customer-account-dashboard .order{background:#ffffff;margin-bottom:5px}
.customer-account-dashboard .order .panel-heading{border-bottom:1px solid #eff0f4;padding:10px 10px}
.customer-account-dashboard .order h3 {line-height:30px;display:inline-block;width:100%}
.customer-account-dashboard .order h3 .fa{color:#007ecc;padding-right:5px}
.customer-account-dashboard .order h3 .text-right{color:#b5b5b5}
.customer-account-dashboard .order h3 a{display: block;float:right;color:#b5b5b5;padding-top:7px}
.customer-account-dashboard .order .panel-info li{line-height:40px;margin-top:10px}
.customer-account-dashboard .order .panel-info li a{display:block;margin:0 auto;color:#b5b5b5}
.customer-account-dashboard .custom-info{width:100%;overflow:hidden;background:#ffffff;margin-bottom:5px}
.customer-account-dashboard .custom-info .panel-heading{border-bottom:1px solid #eff0f4}
.customer-account-dashboard .custom-info h3{line-height: 30px;width:100%;display:inline-block}
.customer-account-dashboard .custom-info h3 a{width:10%;display:block;float:right;color:#b5b5b5;padding-top:7px}
.customer-account-dashboard .custom-info h3 .fa{color:#007ecc;padding-right:5px}
.customer-account-dashboard .custom-info h3 .text-right{color:#b5b5b5}
.customer-account-dashboard .profile-foot{position:fixed;z-index:1000;bottom:0;height:50px;background:#ffffff;width:100%;color:#5a5a5a;line-height:50px}
.customer-account-dashboard .notop{margin-top:0;padding-left:4px}
.customer-account-dashboard .title-content .title-left{float:left;margin-left:20px;color:#007ecc;font-size:20px;line-height:30px;}
.customer-account-dashboard .title-content .title{float:left;font-size:16px;line-height:30px;margin-left:5px}
.customer-account-dashboard .title-content .title-right{color:#b5b5b5;font-size:24px;float:right;margin-right:4%;width:6%;line-height:30px}
.customer-account-dashboard .panel-info{width:100%;overflow:hidden}
.customer-account-dashboard .content{background:#fff;height:70px;padding-top:15px;font-size:12px}
.customer-account-dashboard .content .fa{font-size:24px;color:#b5b5b5;line-height:18px}
.customer-account-dashboard .content .font-fa{font-size:25px}
.customer-account-dashboard .content-box{width:25%;float:left;text-align:center}
.customer-account-dashboard .box-line{border-width:0 1px 0;border-style:solid;border-color:#eff0f4;font-size:12px}
.customer-account-dashboard .asset-box{width:33.33333333%;float:left;text-align:center}
.customer-account-dashboard .asset-num{color:#007ecc;font-weight:bold}
.customer-account-dashboard .content-last{padding:5px 0}
.customer-account-dashboard .content-last a{display:block;width:100%}
.customer-account-dashboard .content-box .badge{background-color:#b5b5b5;color:#fff;font-size:16px;border-radius:16px;line-height:15px}
.customer-account-dashboard .content-box .fa-credit-card-alt{font-size:22px}
.customer-account-dashboard .num-span{color:#2387cf}
.customer-account-dashboard .badge{position:absolute;margin-left:5px;display:inline-block;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.customer-account-edit .fieldset [type=checkbox]:not(:checked)~.input-box{display:none}
.customer-account-dashboard .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.customer-account .profile .info .name .badge{position: absolute;display: block;top: -3px;right: 135px;background: #fdbb30;font-size: 12px;line-height: 14px;padding: 0 5px;border-radius: 2px;color: #fff;width:20px;height:20px}
.customer-account .profile .info .name .level{position:relative;z-index:1;left: 4px;top: -2px;}
.customer-account .header-m{width:100%;height:50px;line-height:50px;background:#007ecc;color:#ffffff}
.customer-account .header-m a{height:50px;line-height:50px}
.customer-account .header-m .container{font-size:20px;line-height:50px}
.customer-account .fieldset{padding:0 10px}
.customer-account .fieldset .input-box{width:100%;overflow:hidden;line-height:40px;}
.customer-account .fieldset .input-box input{margin-top:3px}
.customer-account .fieldset .input-box label{width:23%;text-align:right}
.customer-account .fieldset .input-box .cell{width:77%;float:right}
.sales-refund .buttons-set .btn{padding:6px 46%;background:#007ecc;color:#ffffff}
.customer-account-edit .buttons-set .btn{padding:6px 46%;background:#007ecc;color:#ffffff}
.main-container .breadcrumb-m {position:fixed;top:0;z-index:100;width:100%;background: #757576;height:50px;}
.main-container .breadcrumb-m .breadcrumb-right{text-align:right}
.wrapperhovertree {text-align:right;min-height: 100%;height:auto;-webkit-background-size: 100% 100%;-moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;background-size: 100% 100%;}
.wrapperhovertree {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box}
.wrapperhovertree .container{position: relative;z-index: 1000;height:100%;width: 100%}
div.slide-mask {position: absolute;z-index: 1000;left: 0;top: 0;width: 30%;height: 100%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;display: none;}
aside.slide-wrapper {position: absolute;z-index: 10001;left: 0;top: 50px;width: 30%;-webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);-ms-transform: translate3d(-100%, 0, 0); -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); -webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out}
aside.slide-wrapper > div {background-color: #ffffff;min-height: 100%}
aside.slide-wrapper.moved {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
aside.slide-wrapper li > a {padding: 10px 10px;border-bottom: 1px solid #e1e1e1;display: block;color: #333}
aside.slide-wrapper li.current > a {background-color: #f1f1f1}
.main-container .breadcrumb-m .fa{color:#a7a7a7;line-height:50px}
.main-container .breadcrumb-m .content-list{line-height:50px;text-align:center}
.main-container .breadcrumb-m .content-list a:hover{color:#ffffff}
.main-container .breadcrumb-m .content-list a{color:#c8c6c6}
.main-container .message-box{margin-top:50px} 
.product-essential .carousel .carousel-indicators{bottom:-10px}
.product-essential .carousel .carousel-indicators .active{width:10px;height:10px;background:#ff8a00;border:1px solid #ff8a00}
.product-essential .carousel .carousel-indicators li{background-color:rgba(196,196,196,158);border:1px solid #c4c4c4}
.product-essential .carousel .carousel-inner img{margin: 0 auto;vertical-align:middle}
.product-essential .product-info .product-name{font-size:16px;line-height:30px;text-align:center;margin:0 15px}
.product-essential .price-box .price{color:#ff8a00;font-weight:bold;margin-left: 15px}
.product-essential .price-box .share .fa-share-alt{ color:#ff8a00;margin-right:8px}
.product-essential .price-box .share{width:100%;text-align:right;padding-right:15px}
.product-essential .price-box .share .dropdown-menu{border:none}
.product-essential .product-info .selected{border-top:12px solid #e7e7e7;border-bottom:12px solid #e7e7e7;background:#fff;margin-top: 30px}
.product-essential .product-info .selected span{text-align:right;float:right;color:#b5b4b4}
.product-essential .product-info .selected a{width:90%;margin:0 5%;padding: 10px 0;display:inline-block}
.product-essential .product-info .modal-dialog{position:absolute;bottom:0;width:100%;margin:0}
.product-essential .product-info .modal-dialog .options{margin-bottom:30px}
.product-essential .product-info .modal-dialog銆�.options .cell{display: table-cell;padding-bottom: 15px;}
.product-essential .product-info .modal-dialog .options .cell [type=radio], .product-essential .product-info .options .cell [type=checkbox]{display:none}
.product-essential .product-info .options .cell [type=radio]+label, .product-essential .product-info .options .cell [type=checkbox]+label{margin: 0 8px 10px 0;line-height: 26px;border: 1px solid #f4f4f4;color: #333;padding: 0 6px;border-radius:10px;background:#e7e7e7}.product-essential .product-info .options .cell [type=radio]:checked+label, .product-essential .product-info .options .cell [type=checkbox]:checked+label{border-color: #ff8a00;color: #ffffff;background:#ff8a00;border-radius:10px}
.product-essential .product-info .options label, .radio label{padding-left:0;margin-bottom:10px}
.product-essential .product-info .options .input-box .control-label{display:inline-block}
.product-essential .product-info .options .control-label {display: table-cell;font-size: 12px}
.product-essential .product-info .options label,input{margin:0;padding:0}

.qty .form-control {display:inline-block;font-size: 14px;line-height: 28px;border: 1px solid #d4d4d4;border-left: none;border-right: none;width: 50px;height: 28px;border-radius: 0;padding: 0;text-align: center;margin:0}
.qty .spin {font-size: 18px;line-height: 22px;border: 1px solid #d4d4d4;width: 28px;height: 28px;text-align: center;color: #cbcbcb;background: #ededed;}
.modal-dialog .modal-footer{padding:0}
.modal-dialog .modal-footer .btn{float: left;padding: 6px 12px;margin-bottom: 0;font-size: 14px;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.product-essential .product-info .action .btn {min-width: 50%;margin:0;float: left;height: 40px;background-color: #ff8a00;color: #ffffff;border-radius: 0;font-size: 16px;padding: 0 25px;}
.product-essential .product-info .action .btn-checkout{min-width: 50%;margin:0;float: left;height: 40px;background-color: #ff440a;color: #ffffff;border-radius: 0;font-size: 16px;padding: 0 25px;}

.related .title{font-size:16px;line-height:40px;background:#fff;padding-left:15px;margin-bottom:10px}
.related .product-link .products-grid{text-align:center}
.related .product-link .products-grid p{height:40px;overflow-y:hidden;margin:0 10px}
.related .price-box{color:#ff8a00}
.product-store{position:fixed;bottom:0;z-index:100;height:50px;background:#ffffff}
.product-store li{line-height:16px;height:50px;text-align:center;color:#9b9a9a;font-size:10px}
.product-store span{display:block;padding-top:10px}
.product-store .fa{color:#ff8a00;font-size:20px;}
.product-store li .btn{background:#007dc6;color:#ffffff;width:100%;height:50px;font-size:13px}
.product-store .col-xs-3{display:block}
.product-store .col-xs-3 .btn-checkout{background:#ff8a00}
.product-detail{margin:30px auto 60px;overflow:hidden;width:100%}
.product-detail .review-form span,.review-padding p{margin-left: 15px}
.product-detail .tab-content #description{margin-top: 15px}
.container .nav-tabs>li>a{margin-right:0;border:0}
.container .nav-tabs>li>a:hover{border: none;background:none}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:none;border:0}
.container .nav-tabs{border:none}
.container .nav-tabs li a{line-height:30px;height:50px;text-align:center}
.product-detail .review-form input,textarea{width:85%}
.product-detail .review-form button{width:100%;background:#ff8a00;color:#fff}
.product-detail .tab-content .tab-pane img{width:100%}
.product-detail .info{margin-bottom:10px;background:#ffffff}
.product-detail .affix{position:fixed;z-index:1001;top:0;background:#8f8f8f;color:#c8c6c6}
.product-detail .fa{line-height:50px;color:#a7a7a7}
.product-info .modal-body{width:100%;overflow:hidden}
.container .products-grid .product-list{text-align:center;border:1px solid #d9d6d6;background:#ffffff;width: 48%;margin: 0 1% 20px}
.container .products-grid .product-list .product-image{display:block;max-width:100%;height:auto}
.products-grid .item .product-name{font-size:1em;border-bottom:1px solid #d7d7d7;height:30px;line-height: 30px;overflow-y:hidden;padding:0 1%}
.products-grid .item .price-box{color:#ff8a00;font-size:16px;text-align:left;font-weight:bold;line-height:30px}
.filters{border:1px solid #fff;padding:0 15px}
.filters dt{clear:both;padding:15px 0;text-align:center}
.filters dd{padding:15px 0;display:table}
.filters dd+dt,.filters dd+dt+dd{border-top:1px solid #fff}
.filters a,.filters dt{color:#575656;font-size:12px;line-height:20px}
.filters .init{display:table-cell;width:8.5%;border-left:1px solid #fff;padding:0 20px 0 15px;white-space:nowrap;text-align:center}
.filters .active a{color:#007dc6}
.filters .more{display:table-cell;width:5%;white-space:nowrap}
.filters .more a{display:inline-block;border:1px solid #757576;padding:0 6px}
.filters .more a:after{content:" ";display:inline-block;width:0;height:0;border:3.46410162px solid transparent;border-top:6px solid #757576;border-bottom:none}
.filters .all .more a:after{border-top:none;border-bottom:6px solid #757576}
.filters .values{display:table-cell;width:85%}
.filters .values ul{height:22px;overflow:hidden}
.filters .all .values ul{height:auto}
.filters .values.open ul{height:auto}
.filters .values li{margin-right:20px;padding:1px 0}
.view-by{border-bottom:1px solid #fdcb60;background-color:#f5f6f9;margin-bottom:15px;height:41px}
.view-by a{display:block;font-size:14px;line-height:40px;padding:0 5px}
.view-by .sort-by{float:left}
.view-by .sort-by a{padding:0 20px}
.view-by .sort-by>li+li{border-left:1px solid #cfd0d4}
.view-by .sort-by>li.active{background-color:#007dc6;color:#fff}
.view-by .limit,.view-by .mode{float:right}
.view-by .limit .dropdown-menu{left:auto;right:0;min-width:0}
#cart{color:#696868;font-size:12px;margin-bottom:50px;overflow:hidden}
#cart .store{background:#ffffff;height:40px;line-height:40px;border-bottom:1px solid #e3e5eb}
#cart .col-xs-1{text-align:center}
#cart .qty{color:#000}
#cart .qty p{line-height:26px;text-align:center}
#cart .subtotal{color:#007dc6;font-size:16px}
#cart .product-name{vertical-align:top}
#cart .product-name .price{color:#007ecc;font-weight:bold}
#cart .product-name a{display:block;margin-bottom:8px;max-height:44px;overflow:hidden}
#cart .product-name h4{font-size:13px;color:#696868;height:30px;overflow-y:hidden}
#cart .product-name .options{margin-bottom:0;line-height:20px;display:inline-block;width: 100%;color:#979797}
#cart .product-name .options dt{float:left;}
#cart .product-name .options dt:after{content:":"}
#cart .product-name .options dd{float:left;margin-right:5px}
#cart .total,.selected{font-size:18px;color:#007dc6;font-weight:bold}
.product-info .selected a{font-size:16px;color:#9b9a9a;font-weight:normal}
#cart,.order .col-xs-3{display:block}
#cart .qty .form-control{display:inline-block;font-size:14px;line-height:26px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;border-left:none;border-right:none;width:40%;height:28px;border-radius:0;padding:0;text-align:center;vertical-align:bottom}
#cart .product-list{border-bottom:1px solid #e3e5eb;background:#ffffff;padding:15px 5% 15px 0}
#cart .product-list .product-img{float:left;width:26%}
#cart .product-list .product-name{float:left;width:72%;margin-right:2%}
#cart .checkout{background:#ffffff;height:50px;line-height:50px;position:fixed;bottom:0;z-index:10}
#cart .checkout span{display:inline-block}
#cart .checkout .btn{background:#ffb900;color: #fff;font-size:15px;width:35%;height:50px;float:right;display:inline-block}
#cart .qty .spin{font-size: 18px;line-height: 22px;border:1px solid #d4d4d4;width:30%;height: 28px;text-align: center;color: #cbcbcb;background: #ededed}
#cart .store{padding-right:5%}
.tab-content .products-grid .item{text-align:center}
.tab-content .products-grid .item p{height:20px;overflow-y:hidden;margin:0 5%}
.checkout-order .message-box{margin-top:50px}
.checkout-order .checkout-steps section{background:#fff;margin-bottom:5px;font-size:13px;width:100%;overflow:hidden;padding:0 5px}
.checkout-order .checkout-steps .payment{margin-bottom:60px}
.checkout-order .checkout-steps h4{line-height: 50px;font-size: 1em;font-weight:bold}
.checkout-order .checkout-steps .address .list li label{width:92%}
.checkout-order .checkout-steps .address .list li p{clear:both;line-height:30px;width:90%;margin:0 5%}
.checkout-order .checkout-steps .address .list li p span{display:inline-block}
.checkout-order .checkout-steps .address .list li p .default{width:50%}
.checkout-order .checkout-steps .address .list li p .edit,.delete{width: 23%;text-align:right}
.checkout-order .checkout-steps .address .more{line-height: 30px;color: #007ecc}
.checkout-order .checkout-steps .address .more .fa{margin-left:5px;}
.checkout-order .checkout-steps .payment li{margin-right:10px}
.checkout-steps .review .order{overflow:hidden}
.checkout-steps .review .order .store{height:40px;line-height:40px;border-bottom:1px solid #e3e5eb}
.checkout-steps .review .order .product-list{padding:15px 0;border-bottom:1px solid #e3e5eb}
.checkout-steps .review .order .product-list .product-img{float:left;width:26%}
.checkout-steps .review .order .product-list .product-name{float:left;width:72%;margin-right:2%}
.checkout-steps .review .order .product-list .product-name h4{line-height:20px;font-size:1em;font-weight:normal;height:40px;overflow-y:hidden}
.checkout-steps .review .order .product-list .product-name .options{margin-bottom:0;line-height:20px;display:inline-block;width: 100%;color:#979797}
.checkout-steps .review .order .product-list .product-name .options dt{float:left;}
.checkout-steps .review .order .product-list .product-name .options dt:after{content:":"}
.checkout-steps .review .order .product-list .product-name .options dd{float:left;margin-right:5px}
.checkout-steps .review .order .product-list .price{color:#007ecc;font-weight:bold}
.checkout-steps .review .order .product-list .qty{color:#000;line-height:26px;text-align:right}
.checkout-steps .review .order .shipping,.subtotal{line-height:40px;width:100%;overflow:hidden}
.checkout-steps .review .order .text-nowrap{margin-right:8px}
.checkout-steps .review .order .total .table{overflow: hidden}
.checkout-steps .review .order .total .table span{color: #007ecc;font-weight:bold}
.checkout-steps .grand-total{background:#ffffff;height:50px;line-height: 50px;position:fixed;z-index: 1000;bottom: 0}
.checkout-steps .grand-total span{color: #007ecc;font-weight:bold;margin-right:10px}
.checkout-steps .grand-total .buttons-set{background:#ffb900;color:#fff;text-align: center}
.checkout-steps .grand-total .buttons-set .btn{background:#ffb900;text-align:center;padding:0}
.col-xs-3{display:inline-block}


