html{font-size:32px}
body{min-width:320px}
[lang|=zh],[lang|=zh] body{font-family:"Microsoft Yahei",SimHei,STHeiti,sans-serif}
label[for]{cursor:pointer}
input[type=number]{-webkit-appearance:none;appearance:none;-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
.cookies .global-notice .no-cookie{display:none}
a{color:inherit}
a:hover,a:focus{color:inherit;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0}
.input-box{position:relative}
.header{background:#007dc6;box-shadow:0 0 7px #ccc;margin-bottom:7px}
.header .logo{padding:30px 0 0}
.header .quick-search{margin:35px 0 0;border:2px solid #fdbb30}
.header .quick-search .input-group-addon{padding:0;border:none}
.header .quick-search .form-control{border:none;font-size:12px;height:36px}
.header .quick-search select.form-control{background:#f1f1f1;width:auto;padding:0 0 0 6px}
.header .quick-search .btn{border-radius:0;background-color:#fdbb30;padding:8px 20px;float:right;font-size:18px;line-height:1;color:#000}
.header .welcome{font-size:0;letter-spacing:1px}
.header .welcome p{font-size:12px;line-height:30px;color:#fff;display:inline}
.header .welcome ul{display:inline}
.header .welcome li+li{margin-left:14px}
.header .welcome a,.header .links>li>a{font-size:12px;line-height:30px;color:#fff}
.header .welcome .register a{color:#fdbb30}
.header .links>li{text-align:left}
.header .links>li>a{padding:0 12px}
.header .links>li:last-child>a{padding-right:0}
.header .links .dropdown-toggle>.fa{display:none}
.header .links .dropdown-toggle:after{content:' ';display:inline-block;width:0;height:0;border:4.04145188px solid transparent;border-bottom:none;border-top:7px solid #fdbb30}
.header .links .dropdown-menu{left:auto;right:0}
.header .minicart{padding:38px 10px 26px;text-align:right}
.header .minicart .dropdown-toggle{font-size:12px;text-align:center;line-height:36px;background:#f7f7f7;display:inline-block;padding:0 23px 0 16px;position:relative;color:#575656}
.header .minicart .dropdown-toggle:after{content:" ";display:inline-block;width:0;height:0;border:4.04145188px solid transparent;border-bottom:none;border-top:7px solid #fdbb30}
.header .minicart .dropdown-toggle .fa{color:#fdbb30;font-size:16px;margin-right:4px}
.header .minicart .dropdown-toggle .badge{position:absolute;display:block;top:-3px;right:25px;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.header .minicart .dropdown-toggle .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.header .nav-main{background:#fff}
.header .nav-main .nav>li>a{background:none;font-size:16px;line-height:36px;color:#000;padding:0 18px}
.header .nav-main .dropdown>.dropdown-toggle:after{content:" ";display:inline-block;border:5px solid transparent;border-bottom:none;border-top:8px solid #007dc6;margin-left:8px}
.header .nav-main .dropdown:hover>.dropdown-menu{display:block;border-radius:0;border-top:none}
.breadcrumb .clearfix{display:none}
.customer-account-login .input-box+.input-box{margin-top:25px}
.customer-account-login .header,.customer-account-create .header{padding:0;background:none;box-shadow:none;margin:0 auto;border-bottom:1px solid #d0dfe8}
.customer-account-login .header .logo,.customer-account-create .header .logo{padding:24px 0 22px}
.customer-account-login .header .logo strong,.customer-account-create .header .logo strong{display:inline-block;font-size:16px;line-height:50px;font-weight:normal;color:#3d3d3d;padding-left:20px;border-left:2px solid #f2f2f2}
.customer-account-login .main-container{background: url(../images/login.png) no-repeat center center #2ABAF8;padding:40px 0 48px}
.customer-account-login .col-main .fieldset{background-color:rgba(255,255,255,.47);padding:26px 27px 18px 24px;max-width:330px;border-radius:6px;border:1px solid #fff}
.customer-account-login .col-main .legend{font-size:21px;font-weight:bold;line-height:25px}
.customer-account-login .col-main .register{text-align:right;line-height:32px;font-size:12px;color:#000}
.customer-account-login .input-group{width:100%}
.customer-account-login .input-group-addon{border-radius:0;width:44px;color:#fff;font-size:26px}
.customer-account-login .form-control{border-radius:0;height:45px}
.customer-account-login .additional{margin-top:35px;font-size:12px;line-height:18px;padding:12px 0}
.customer-account-login .btn-submit,.customer-account-create .btn-submit{width:100%;background-color:#F29435;height:42px;font-size:20px;border-radius:0;color:#fff;clear:both;letter-spacing:2px}
.customer-account-create .login{border-left:1px solid #f2f2f2;display:inline-block;margin-top:60px;padding:0 0 88px}
.customer-account-create .login .text-left{display:inline-block}
.customer-account-create .login p{font-size:16px;line-height:88px;margin:26px 0 0;color:#4a4a4b;letter-spacing:3px}
.customer-account-create .login.visible-xs-block{border:none;margin:0;padding:0}
.customer-account-create .login.visible-xs-block p{line-height:2;margin:0 0 10px}
.customer-account-create .login p a{color:#479fe3}
.customer-account-create .col-main .fieldset{width:66.66666667%;min-width:300px;margin:60px auto 0;padding:60px 0 36px}
.customer-account-create .col-main *:not(.additional)>.input-box+.input-box{margin-top:30px}
.customer-account-create .col-main *:not(.additional)>.input-box{font-size:0;position:relative}
.customer-account-create .col-main .control-label{width:104px;font-size:14px;line-height:52px;color:#2c2c2c;position:absolute;left:1px;top:1px;padding:0 20px;letter-spacing:2px}
.customer-account-create .col-main .form-control{height:52px;border:1px solid #e1ebfe;border-radius:0;padding-left:110px}
.customer-account-create .additional{margin:90px 0 28px}
.customer-account-create .btn-submit{background:#479fe3;font-size:18px;height:45px}
.customer-account-login label.invalid,.customer-account-create label.invalid{position:absolute;top:100%;left:6px;font-size:12px;line-height:1.5}
.customer-account-create [type=checkbox]~label.invalid{position:static}
.goods-filter{border:1px solid #e1e3ea;} 
.goods-filter>tbody>tr>th,.goods-filter>tbody>tr>td{vertical-align:middle;padding:0}
.goods-filter-th{width:80px;text-align:center;font-weight:normal;font-size:12px}
.goods-filter-tr{border-bottom:1px solid #e2e4ea;}
.goods-filter{margin-bottom:15px}
.goods-filter-li{margin-left:50px;height:50px}
.goods-li-all{margin-left:20px;}
.goods-filter-ul{border-left:1px solid #e1e4ea;font-size:12px;height:50px;line-height:50px;overflow:hidden}
.goods-filter a{color:#575656}
.goods-filter-more{width:80px;text-align:center}
.gird-pro-a{word-wrap:break-word;color:#757474;font-size:14px}
.product-name{margin:0}
.products-grid{margin-bottom:15px}
.products-grid .item img{width:100%}
.products-grid .item{padding:10px;border:1px solid transparent;transition:border .2s ease-in-out}
.products-grid .item:hover{border-color:#d9d9d9}
.price-box .special-price, .price-box .regular-price{font-size:16px;color:#fd9030;font-weight:bold;}
.price-box .old-price{text-decoration:line-through}
.pager li>.current, .total{border:none;color:#a5a5a6}
.pager li>span, .pager li>a{border-radius:1px;color:#a5a5a6}
.pager .next>a, .pager .next>span{float:none;} 
.pager{text-align:left}
.pager .prev>span, .pager .next>span{color:#d6d7d8}
.pageto{color:#a5a5a6}
.pageto>input{width:30px;height:30px;border:1px solid #e4e2e2;border-radius:1px;text-align:center;}
.pageto>button{height:30px;border:1px solid #e4e2e2;border-radius:1px;background-color:#f7f7f7;;border-radius:1px;}
.view-by{border-bottom:1px solid #fdcb60;background-color:#f5f6f9;margin-bottom:15px;height:41px}
.view-by a{display:block;font-size:14px;line-height:40px;padding:0 5px}
.view-by .sort-by{float:left}
.view-by .sort-by a{padding:0 20px}
.view-by .sort-by>li+li{border-left:1px solid #cfd0d4}
.view-by .sort-by>li.active{background-color:#007dc6;color:#fff}
.view-by .limit,.view-by .mode{float:right}
.view-by .limit .dropdown-menu{left:auto;right:0;min-width:0}
.footer .container{margin-bottom:30px}
.footer .foot-navigation{border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;font-size:12px}
.footer .foot-navigation ul{margin-top:15px;margin-bottom:15px}
.footer .foot-navigation li{margin-right:50px;line-height:30px}
.footer a{color:#424242}
.footer .footer-links,.footer .copyright{display:inline}
.footer .foot-info{margin-top:20px}
.footer .foot-info li{line-height:30px;margin-right:30px}
.footer .foot-info .foot-con li{border-right:1px solid #000000;line-height:12px;margin-right:0px;padding-right:15px;padding-left:15px}
.footer .foot-info .foot-con{padding-top:9px}
.footer .foot-info .foot-con :first-child{padding-left:0px}
.footer .foot-info .foot-con :last-child{border:none}
.page-not-found .main-container .figure{margin:70px 0 79px;border-right:2px #f2f2f2 solid}
.page-not-found .main-container .notice{margin:70px 0 79px;padding-left:110px}
.page-not-found .main-container .notice h2{line-height:50px;margin-top:100px}
.page-not-found .main-container .notice dt{display:inline;color:#a2a3a3}
.page-not-found .main-container .notice dd{display:inline;padding:0 10px;color:#007dc6}
.page-not-found .main-container .notice dd+dd{border-left:1px solid #a2a3a3}
