html{font-size:32px}
body{min-width:320px}
[lang|=zh],[lang|=zh] body{font-family:"Microsoft Yahei",SimHei,STHeiti,sans-serif}
label[for]{cursor:pointer}
input[type=number]{-webkit-appearance:none;appearance:none;-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
.hidden,[hidden]{display:none!important}
.global-notice .no-cookie{display:none}
.no-cookies .global-notice .no-cookie{display:none}
.text-vtop{vertical-align:top!important}
.text-vmiddle{vertical-align:middle!important}
.text-vbottom{vertical-align:bottom!important}
a{color:inherit}
a:hover,a:focus{color:inherit;text-decoration:none}
h1,h2,h3,h4,h5,h6{margin:0}
select[multiple],select[size],textarea{resize:vertical}
.input-box{position:relative}
.table th{font-weight:normal}
.bttrlazyloading-wrapper{background-repeat:no-repeat;background-position:center;display:block;background-color:transparent!important}
.bttrlazyloading-clone{margin:0 auto;padding:0;border:0;display:block;height:auto;max-width:100%}
.bttrlazyloading-loaded{background-image:none!important}
[type=file].form-control.preview+.preview{display:none;position:absolute;bottom:100%;left:0;width:100px;max-height:100px}
[type=file].form-control.preview:hover+.preview{display:block}
.header{background:#007dc6;box-shadow:0 0 7px #ccc;margin-bottom:7px}
.header .logo{padding:30px 0 0}
.header .quick-search{margin:35px 0 0;border:2px solid #fdbb30}
.header .quick-search .input-group-addon{padding:0;border:none}
.header .quick-search .form-control{border:none;font-size:12px;height:36px}
.header .quick-search select.form-control{background:#f1f1f1;width:auto;padding:0 0 0 6px;box-shadow:none;border-radius:0;border:none}
.header .quick-search label.invalid{display:none!important}
.header .quick-search .btn{border-radius:0;background-color:#fdbb30;border-color:#fdbb30;padding:8px 20px;float:right;font-size:18px;line-height:1;color:#000}
.header .welcome{font-size:0;letter-spacing:1px}
.header .welcome p{font-size:12px;line-height:30px;color:#fff;display:inline}
.header .welcome ul{display:inline;margin-left:4px}
.header .welcome li+li{margin-left:14px}
.header .welcome a,.header .links>li>a{font-size:12px;line-height:30px;color:#fff}
.header .welcome .register a{color:#fdbb30}
.header .links>li{text-align:left}
.header .links>li>a{padding:0 12px}
.header .links>li:last-child>a{padding-right:0}
.header .links .dropdown-toggle>.fa{display:none}
.header .links .dropdown-toggle:after{content:' ';display:inline-block;width:0;height:0;border:4.04145188px solid transparent;border-bottom:none;border-top:7px solid #fdbb30}
.header .links .dropdown-menu{left:auto;right:0}
.header .minicart{padding:38px 10px 0;margin-bottom:26px;text-align:right}
.header .minicart .dropdown-toggle{font-size:12px;text-align:center;line-height:36px;background:#f7f7f7;display:inline-block;padding:0 23px 0 16px;position:relative;color:#575656}
.header .minicart .dropdown-toggle:after{content:" ";display:inline-block;width:0;height:0;border:4.04145188px solid transparent;border-bottom:none;border-top:7px solid #fdbb30}
.header .minicart .dropdown-toggle .fa{color:#fdbb30;font-size:16px;margin-right:4px}
.header .minicart .dropdown-toggle .badge{position:absolute;display:block;top:-3px;right:25px;background:#fdbb30;font-size:12px;line-height:14px;padding:0 5px;border-radius:2px;color:#fff}
.header .minicart .dropdown-toggle .badge:after{content:" ";display:block;width:0;height:0;border-width:2px;border-style:solid;border-color:#fdbb30 transparent transparent #fdbb30;position:absolute;top:100%;left:8px}
.header .minicart .dropdown-menu{right:10px;border-radius:0;padding:0;border:none;background:#f7f7f7;width:100%}
.header .minicart .dropdown-menu .product-image{display:block}
.header .minicart .dropdown-menu .product-image img{max-width:100%}
.header .minicart .dropdown-menu .product-name a{display:block;font-size:12px;line-height:15px;color:#757474;height:30px;overflow:hidden;padding:0 6px}
.header .minicart .dropdown-menu .product-name .options{margin:0;font-size:12px;line-height:15px;padding:6px;color:#9c9c9c;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.header .minicart .dropdown-menu .product-name .options dt{display:inline}
.header .minicart .dropdown-menu .product-name .options dt:after{content:":"}
.header .minicart .dropdown-menu .product-name .options dd{display:inline}
.header .minicart .dropdown-menu .price{white-space:nowrap}
.header .minicart .dropdown-menu .action{font-size:12px;color:#757474;text-align:right}
.header .minicart .dropdown-menu li+li{border-top:1px dashed #e6e7ed}
.header .minicart .dropdown-menu .total{border-top:1px dashed #e6e7ed;padding:10px 12px 5px;font-size:12px;line-height:35px;background:#fff}
.header .minicart .dropdown-menu .total .btn-checkout{border:1px solid #007dc6;color:#000;border-radius:0;min-width:100%;padding:0;font-size:12px;line-height:2}
.header .minicart .dropdown-menu .total .btn-checkout:hover{color:#fff;background:#007dc6}
.header .minicart .dropdown-menu .items>li{padding:9px 12px 5px}
.header .minicart .dropdown-menu .items .title{font-size:12px;line-height:27px;color:#000;padding:0 12px}
.header .minicart .dropdown-menu .items:empty{display:none}
.header .minicart .dropdown-menu .items:empty+.total{display:none}
.header .minicart .dropdown-menu .empty{display:none;text-align:center}
.header .minicart .dropdown-menu .items:empty~.empty{display:block;color:#999;font-size:0}
.header .minicart .dropdown-menu .items:empty~.empty .fa{font-size:45px;text-align:center}
.header .minicart .dropdown-menu .items:empty~.empty>div{display:inline-block;font-size:12px;float:none;vertical-align:middle;padding:10px;text-align:left}
.header .minicart:hover .dropdown-menu{display:block}
.header .nav-main{background:#fff}
.header .nav-main .nav>li>a{background:none;font-size:16px;line-height:36px;color:#000;padding:0 18px}
.header .nav-main .dropdown>.dropdown-toggle:after{content:" ";display:inline-block;border:5px solid transparent;border-bottom:none;border-top:8px solid #007dc6;margin-left:8px}
.header .nav-main .dropdown:hover>.dropdown-menu{display:block;border-radius:0;border-top:none}
.breadcrumb .clearfix{display:none}
.col-left+.col-main{padding:15px 0 0 40px}
.customer-account-login .input-box+.input-box{margin-top:25px}
.customer-account-login .header,.customer-account-create .header{padding:0;background:none;box-shadow:none;margin:0 auto;border-bottom:1px solid #d0dfe8}
.customer-account-login .header .logo,.customer-account-create .header .logo{padding:24px 0 22px}
.customer-account-login .header .logo strong,.customer-account-create .header .logo strong{display:inline-block;font-size:16px;line-height:50px;font-weight:normal;color:#3d3d3d;padding-left:20px;border-left:2px solid #f2f2f2}
.customer-account-login .main-container{background: url(../images/login.jpg) no-repeat center center #5BB8F2;padding:40px 0 48px}
.customer-account-login .col-main .fieldset{background-color:rgba(255,255,255,.47);padding:26px 27px 18px 24px;max-width:330px;border-radius:6px;border:1px solid #fff}
.customer-account-login .col-main .legend{font-size:21px;font-weight:bold;line-height:25px}
.customer-account-login .col-main .register{text-align:right;line-height:32px;font-size:12px;color:#000}
.customer-account-login .input-group{width:100%}
.customer-account-login .input-group-addon{border-radius:0;width:44px;color:#fff;font-size:26px}
.customer-account-login .form-control{border-radius:0;height:45px}
.customer-account-login .additional{margin-top:35px;font-size:12px;line-height:18px;padding:12px 0}
.customer-account-login .btn-submit,.customer-account-create .btn-submit{width:100%;background-color:#F29435;height:42px;font-size:20px;border-radius:0;color:#fff;clear:both;letter-spacing:2px}
.customer-account-create .login{border-left:1px solid #f2f2f2;display:inline-block;margin-top:60px;padding:0 0 88px}
.customer-account-create .login .text-left{display:inline-block}
.customer-account-create .login p{font-size:16px;line-height:88px;margin:26px 0 0;color:#4a4a4b;letter-spacing:3px}
.customer-account-create .login.visible-xs-block{border:none;margin:0;padding:0}
.customer-account-create .login.visible-xs-block p{line-height:2;margin:0 0 10px}
.customer-account-create .login p a{color:#479fe3}
.customer-account-create .col-main .fieldset{width:66.66666667%;min-width:300px;margin:60px auto 0;padding:60px 0 36px}
.customer-account-create .col-main .table{display:table;border-spacing:0 30px;margin:-30px 0}
.customer-account-create .col-main *:not(.additional)>.input-box{font-size:0;position:relative;display:table-row}
.customer-account-create .col-main .control-label{width:1%;min-width:104px;font-size:14px;line-height:50px;color:#2c2c2c;padding:0 20px;white-space:nowrap;border:1px solid #e1ebfe;border-right:none;display:table-cell}
[lang|=zh] .customer-account-create .col-main .control-label{letter-spacing:2px}
.customer-account-create .col-main .cell{display:table-cell;vertical-align:top}
.customer-account-create .col-main .form-control{height:52px;border:1px solid #e1ebfe;border-radius:0;border-left:none}
.customer-account-create .additional{margin:90px 0 28px}
.customer-account-create .btn-submit{background:#479fe3;font-size:18px;height:45px}
.customer-account-login label.invalid,.customer-account-create label.invalid{position:absolute;top:100%;left:6px;font-size:12px;line-height:1.5}
.customer-account-create [type=checkbox]~label.invalid{position:static}
.filters{border:1px solid #e1e3ea;padding:0 15px}
.filters dt{clear:both;padding:15px 0;text-align:left;text-indent:20px}
.filters dd{padding:15px 0;display:table}
.filters dd+dt,.filters dd+dt+dd{border-top:1px solid #e1e3ea}
.filters a,.filters dt{color:#575656;font-size:12px;line-height:20px}
.filters .init{display:table-cell;width:8.5%;border-left:1px solid #e1e3ea;padding:0 20px 0 15px;white-space:nowrap;text-align:center}
.filters .active a{color:#007dc6}
.filters .more{display:table-cell;width:5%;white-space:nowrap}
.filters .more a{display:inline-block;border:1px solid #dadada;padding:0 6px}
.filters .more a:after{content:" ";display:inline-block;width:0;height:0;border:3.46410162px solid transparent;border-top:6px solid #575656;border-bottom:none}
.filters .all .more a:after{border-top:none;border-bottom:6px solid #575656}
.filters .values{display:table-cell;width:85%}
.filters .values ul{height:22px;overflow:hidden}
.filters .all .values ul{height:auto}
.filters .values.open ul{height:auto}
.filters .values li{margin-right:20px;padding:1px 0}
.products-grid{margin-bottom:15px}
.products-grid .item{padding:10px;border:1px solid transparent;transition:border .2s ease-in-out}
.products-grid .item:hover{border-color:#d9d9d9}
.products-grid .item .product-image img{width:100%}
.products-grid .item .product-name{font-size:11px;line-height:19px;height:38px;overflow:hidden}
.products-list{margin-bottom:15px}
.products-list .item{padding:10px}
.products-list .item .product-image img{width:100%}
.products-list .item .product-name{font-size:11px;line-height:19px;height:38px;overflow:hidden}
.price-box .label{display:none}
.price-box .old-price .price,.price-box .old-price .label{text-decoration:line-through;font-size:14px;line-height:42px;color:#9b9a9a!important}
.price-box .special-price .price,.price-box .regular-price .price{font-size:16px;line-height:42px;color:#fd9030;font-weight:bold}
dl.options{margin-bottom:0;line-height:14px;color:#9C9C9C}
dl.options:after{content:" ";display:block;width:0;height:0;clear:both}
dl.options dt{clear:left;float:left}
dl.options dt:after{content:":"}
dl.options dd{float:left;margin-left:4px}
.pager{text-align:left}
.pager li>.current{border:none;color:#a5a5a6}
.pager li>span,.pager li>a{border-radius:1px;color:#a5a5a6}
.pager .next>a,.pager .next>span{float:none;} 
.pager .prev>span,.pager .next>span{color:#d6d7d8}
.pageto{color:#a5a5a6}
.pageto>input{width:30px;height:30px;border:1px solid #e4e2e2;border-radius:1px;text-align:center;}
.pageto>button{height:30px;border:1px solid #e4e2e2;border-radius:1px;background-color:#f7f7f7;;border-radius:1px;}
.view-by{border-bottom:1px solid #fdcb60;background-color:#f5f6f9;margin-bottom:15px;height:41px}
.view-by a{display:block;font-size:14px;line-height:40px;padding:0 5px}
.view-by .sort-by{float:left}
.view-by .sort-by a{padding:0 20px}
.view-by .sort-by>li+li{border-left:1px solid #cfd0d4}
.view-by .sort-by>li.active{background-color:#007dc6;color:#fff}
.view-by .limit,.view-by .mode{float:right}
.view-by .limit .dropdown-menu{left:auto;right:0;min-width:0}
.rating{position:relative;width:6em}
.rating .fa{display:block;letter-spacing:.25em}
.rating .fa-star{position:absolute;top:0;left:0;white-space:nowrap;overflow:hidden;max-width:100%}
.rating .fa-star-o:before{content:"\f006\f006\f006\f006\f006"}
.rating .fa-star:before{content:"\f005\f005\f005\f005\f005"}
.footer .container{margin-bottom:30px}
.footer .foot-navigation{border-top:1px solid #cfcfcf;border-bottom:1px solid #cfcfcf;font-size:12px}
.footer .foot-navigation ul{margin-top:15px;margin-bottom:15px}
.footer .foot-navigation li{margin-right:50px;line-height:30px}
.footer .footer-links,.footer .copyright{display:inline}
.footer .foot-info{margin-top:20px}
.footer .foot-info li{line-height:24px;margin-right:30px;font-size:12px;color:#000000}
.footer .foot-info .foot-con li{border-right:1px solid #000000;line-height:14px;margin-right:0px;padding-right:15px;padding-left:15px}
.footer .foot-info .foot-con{margin-top:6px}
.footer .foot-info .foot-con :first-child{padding-left:0px}
.footer .foot-info .foot-con :last-child{border:none}
.page-not-found .main-container .figure{margin:70px 0 79px;border-right:2px #f2f2f2 solid}
.page-not-found .main-container .notice{margin:70px 0 79px;padding-left:110px}
.page-not-found .main-container .notice h2{line-height:50px;margin-top:100px}
.page-not-found .main-container .notice dt{display:inline;color:#a2a3a3}
.page-not-found .main-container .notice dd{display:inline;padding:0 10px;color:#007dc6}
.page-not-found .main-container .notice dd+dd{border-left:1px solid #a2a3a3}
.col-left .nav{background:#f6f6f9;border:1px solid #dfe1e8;margin:15px 0}
.col-left .nav .page-title{height:50px;border-bottom:1px solid #dfe1e8;text-align:center;line-height:50px;font-size:18px;font-weight:bold;background:#eeeeee;color:#000000}
.col-left .nav .page-title .fa{color:#007dc6;font-size:18px}
.col-left .nav dt{padding-left:36px;font-size:14px;line-height:30px;color:#000;font-weight:bold;margin-top:1em}
.col-left .nav dt .fa{font-size:20px;vertical-align:middle}
.col-left .nav dl a{display:block;text-indent:65px;font-size:12px;line-height:24px;color:#8b8a8a}
.col-left .nav dl a:hover{text-decoration:underline}
.customer-account .col-main .page-title{font-size:18px;line-height:50px;font-weight:bold;border-bottom:1px solid #dfe1e8}
.customer-account .col-main .message-box:not(:empty){padding-top:10px}
.customer-account-dashboard .panel{box-shadow:none}
.customer-account-dashboard .panel-heading{border-bottom:1px solid #dbdee5}
.customer-account-dashboard .panel-title{border-bottom:1px solid;color:#007dc6;display:inline-block;padding:19px 12px;font-size:14px;line-height:1;margin:21px 0 -1px}
.customer-account-dashboard .panel-heading,.customer-account-dashboard .panel-body{padding:0}
.customer-account-dashboard .profile{border:1px solid #dfe1e8;padding:30px 50px;font-size:12px;line-height:20px;color:#9e9e9e}
.customer-account-dashboard .profile .photo{display:block;padding-right:18px}
.customer-account-dashboard .profile .name{font-size:20px;line-height:1;color:#000;margin-bottom:.5em}
.customer-account-dashboard .profile .level{background:#007dc6;color:#fff;font-size:12px;line-height:18px;display:inline-block;padding:0 3px;vertical-align:bottom}
.customer-account-dashboard .profile .count{font-size:13px;color:#007dc6;font-weight:bold}
.customer-account-dashboard .profile span:not(.label)+span{margin-left:10px}
.customer-account-dashboard .coupon .panel-body{margin-top:25px}
.customer-account-dashboard .coupon .carousel-control{width:25px;color:#007dc6}
.customer-account-dashboard .coupon .carousel-control .fa{position:absolute;top:50%;margin-top:-10px;display:block}
.customer-account-dashboard .coupon .item .content{padding:0 25px;color:#dcf0fb;font-size:12px;line-height:18px}
.customer-account-dashboard .coupon .item .content .inner{padding:0 15px 12px;background:url(../images/bg-coupon-left.png) left top,url(../images/bg-coupon-right.png) right top;background-repeat:repeat-y;background-color:#007dc6}
.customer-account-dashboard .coupon .price{font-size:35px;line-height:60px;letter-spacing:-.2px;color:#fff}
.customer-account-dashboard .coupon .free-shipping{font-size:35px;line-height:60px;position:relative;color:#fff}
.customer-account-dashboard .coupon .store:empty,.customer-account-dashboard .coupon .date:empty{height:18px}
.customer-account-dashboard .order .store{font-weight:bold;color:#000}
.customer-account-dashboard .order tbody td{border-color:#e1e3e9;padding:24px 12px}
.customer-account-dashboard .order tbody td:first-child{border-left:1px solid #e1e3e9;padding-left:24px}
.customer-account-dashboard .order tbody td[rowspan]:last-child{border-right:1px solid #e1e3e9;padding-right:24px}
.customer-account-dashboard .order tbody td span:not(.label):not(.price){display:block}
.customer-account-dashboard .order tbody tr:last-child td{border-bottom:1px solid #e1e3e9}
.customer-account-dashboard .order .price-box .old-price .label{display:inline}
.customer-account-dashboard .order .product-name{color:#666;font-size:12px;line-height:19px;height:38px;overflow:hidden}
.customer-account-dashboard .order .options{font-size:12px}
.customer-account-dashboard .order td:not([rowspan])+[rowspan]{border-left:1px solid #e1e3e9}
.customer-account .fieldset{display:table;width:100%;margin-top:20px}
.customer-account .fieldset .input-box{display:table-row}
.customer-account .fieldset .cell{display:table-cell;font-size:14px;line-height:34px;padding-bottom:6px}
.customer-account .fieldset .input-box .control-label{display:table-cell;padding:6px 12px 12px 0;white-space:nowrap;width:1%}
.customer-account .fieldset .buttons-set{display:table-row}
.customer-account .btn-theme{background:#00A0E9;color:#fff}
.customer-account .btn-theme:hover{background:#007dc6}
.customer-account-edit .fieldset [type=checkbox]:not(:checked)~.input-box{display:none}
.customer-account-address .btn-add{margin:12px 6px}
.customer-account-address .address-list li{padding:0 6px;line-height:34px;font-size:14px}
.customer-account-address .address-list li:hover{background:#f5f5f5}
.customer-account-address .address-list .inline{overflow:hidden;text-overflow:ellipse;white-space:nowrap}
.customer-account-address .address-list .inline a{display:block}
.customer-account-address .address-list .action{text-align:right}
.customer-account-address .address-list .action a{margin-left:4px}
.customer-wishlist .wishlist .product-name{font-size:14px;line-height:22px;margin-bottom:12px}
.customer-wishlist .wishlist .product-name~.form-control{font-size:12px;line-height:24px;margin-top:12px}
.customer-history .products-grid dt{font-size:14px;line-height:30px;margin-bottom:1.5em}
.customer-history .products-grid dt .fa{color:#007dc6;font-size:24px;vertical-align:sub}
.customer-account .sales-order-view .nav-tabs{margin:2% 0}
.customer-account .sales-order-view .panel{width:49%;float:left;margin-bottom:2%}
.customer-account .sales-order-view .panel:nth-child(2n){margin-left:2%}
.customer-account .sales-order-view .panel.wide{clear:both;width:100%;margin-left:0}
.product-essential{padding-top:10px}
.product-essential #product-media{padding:0 20px 26px 25px}
.product-essential #product-media .item{text-align:center}
.product-essential #product-media .item img{max-width:100%}
.product-essential #product-media .carousel-indicators{position:static;margin:15px 0 0;font-size:0;width:100%;text-align:left}
.product-essential #product-media .carousel-indicators>li{text-indent:0;width:auto;height:auto;border:none;margin:0 8px 0 0}
.product-essential #product-media .carousel-indicators>li>img{vertical-align:top}
.product-essential .links{font-size:12px;line-height:16px;color:#9b9a9a;margin:0 0 60px;padding-left:15px}
.product-essential .links>li+li{border-left:1px solid;margin-left:16px}
.product-essential .links button{background:none;border:none}
.product-essential .links .fa{font-size:16px;color:#fd9030;margin:0 12px 0 16px}
.product-essential .links .dropdown-menu a{color:#000}
.product-essential .links .dropdown-menu .fa{margin:0;color:#000}
.product-essential .product-info{padding:0 30px 0 10px}
.product-essential .product-info .product-name{font-size:16px;line-height:33px;color:#000;margin:7px 0 22px}
.product-essential .product-info .price-box{background:#f4f4f4;font-size:0;color:#9b9a9a}
.product-essential .product-info .price-box .label{display:inline-block;padding:15px 16px 12px 15px;font-size:13px;vertical-align:middle}
.product-essential .product-info .price-box .price{font-size:25px;line-height:42px;vertical-align:middle}
.product-essential .product-info .price-box .old-price{display:block}
.product-essential .product-info .price-box .old-price .price{font-size:16px}
.product-essential .product-info .price-box .regular-price .price,.product-essential .product-info .price-box .regular-price .label{line-height:55px}
.product-essential .product-info .price-box .count{display:block;font-size:18px;line-height:32px;text-align:center}
.product-essential .product-info .price-box .count+span{display:block;font-size:12px;text-align:center}
.product-essential .product-info .price-box .order{border-left:1px solid #fff;margin-top:18px}
.product-essential .product-info .price-box .review{margin-top:18px}
.product-essential .product-info .options{display:table;width:100%;margin-top:15px}
.product-essential .product-info .options .input-box{display:table-row}
.product-essential .product-info .options .control-label{display:table-cell;vertical-align:top;padding:0 10px 0 16px;font-size:12px;line-height:28px;width:1%;white-space:nowrap}
.product-essential .product-info .options .cell{display:table-cell;padding-bottom:15px}
.product-essential .product-info .options .cell label.invalid{display:block;padding:0}
.product-essential .product-info .options .cell [type=radio],.product-essential .product-info .options .cell [type=checkbox]{display:none}
.product-essential .product-info .options .cell [type=radio]+label,.product-essential .product-info .options .cell [type=checkbox]+label{margin:0 20px 10px 0;line-height:26px;border:1px solid #f4f4f4;color:#999;padding:0 6px}
.product-essential .product-info .options .cell [type=radio]:checked+label,.product-essential .product-info .options .cell [type=checkbox]:checked+label{border-color:#666;color:#666}
.product-essential .product-info .action{clear:both;width:100%;padding:20px 0 20px 16px;text-align:left}
.product-essential .product-info .action .btn{min-width:150px;height:40px;background-color:#fbe5d2;border-color:#fd9233;color:#fd9030;border-radius:0;margin-right:12px;font-size:16px;padding:0 25px}
.product-essential .product-info .action .btn-checkout,.product-essential .product-info .action .btn:hover{color:#fff;background-color:#fd9030}
.product-essential .product-info .action .btn-checkout .fa{font-size:25px;vertical-align:-4px;margin-right:8px}
.product-essential .upsells .product-link{border:1px solid #efefef;padding:15px}
.product-essential .upsells .product-link .item{padding:0 13px;position:relative;border:none}
.product-essential .upsells .price-box{position:absolute;bottom:0;background:#fff;background:rgba(255,255,255,.63);width:100%;pointer-events:none}
.product-essential .upsells .price-box .price{color:#cd413c;line-height:20px}
.product-essential .upsells .action{display:none}
.product-essential .related{clear:both}
.product-essential .related .item{text-align:center}
.product-essential .related .title{width:100%;border-bottom:2px solid #fd9030;margin-bottom:12px;background:#f4f4f4}
.product-essential .related .title span{display:inline-block;padding:0 25px;background-color:#fd9030;color:#fff;font-size:16px;line-height:44px;text-align:center}
.product-essential .related .price-box{text-align:left}
.product-essential .related .price-box .price{color:#cd413c;line-height:26px}
.product-detail{margin-bottom:50px}
.product-detail>.nav-tabs{margin-bottom:12px;background:#f4f4f4;border:none}
.product-detail>.nav-tabs>li>a{padding:18px 25px 16px;font-size:18px;color:#747474;border-radius:0;border:none;line-height:1}
.product-detail>.nav-tabs>li.active>a{color:#fff;background:#fd9030;margin:0;border:none}
.product-detail .product-attributes{background:#f1f1f1;color:#747474;font-size:14px;line-height:36px;padding:34px 0;margin-bottom:12px}
.product-detail .product-attributes li{padding:0 20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.product-detail .product-attributes .label:after{content:":"}
.product-detail #description img{max-width:100%}
.qty{font-size:0}
.qty .spin{display:inline-block;font-size:18px;line-height:22px;border:1px solid #d4d4d4;width:28px;height:28px;text-align:center;color:#cbcbcb;background:#ededed;vertical-align:bottom;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.qty .spin:hover{color:#000}
.qty .form-control{display:inline-block;font-size:14px;line-height:26px;border:1px solid #d4d4d4;border-left:none;border-right:none;width:52px;height:28px;border-radius:0;padding:0;text-align:center;vertical-align:bottom}
.checkout-cart .main-container .table input[type="checkbox"]{cursor:pointer}
.checkout-flow{text-align:center;border:1px solid #e1e1e1;margin:42px 0;overflow:hidden}
.checkout-flow .item{font-size:18px;line-height:40px;color:#000;position:relative}
.checkout-flow .item.active{background:#f1f1f1;color:#007dc6}
.checkout-flow .item.active:after{content:" ";display:block;width:0;height:0;position:absolute;top:0;left:100%;z-index:-1;border:20px solid transparent;border-left:34.64101615px solid #f1f2f4}
#cart{color:#696868;font-size:12px;margin-bottom:50px}
#cart td.selectall{padding-left:8px!important}
#cart thead{background:#f1f1f1;border-top:1px solid #e1e1e1}
#cart tbody td{vertical-align:middle;padding:8px 16px;line-height:22px;border-top: 1px solid #e1e1e1}
#cart tbody tr th{border-top:0px none}
#cart tbody .price{font-size:14px;color:#000}
#cart tbody .qty{color:#000}
#cart tbody .subtotal{color:#007dc6;font-size:16px}
#cart tbody .product-name{vertical-align:top}
#cart tbody .product-name a{display:block;margin-bottom:8px;max-height:44px;overflow:hidden;color:#000}
#cart tfoot .btn-checkout{border-radius:0;padding:15px 25px;margin-left:10px;background:#fabb39}
#cart tfoot .btn-checkout[disabled]{background:#ccc}
#cart tfoot td{background:#f1f1f1;padding:0;vertical-align:middle;border-top:0px none}
#cart tfoot .selectall a{margin-left:6%}
#cart .product-list{border:1px solid #e3e5eb}
#cart .total,.selected{font-size:18px;color:#007dc6;font-weight:bold}
#cart tfoot .label{font-size:14px}
#cart tfoot .total-title{margin-left:5%}
.checkout-cart .additional{border:1px solid #dadada;min-height:293px;font-size:12px;margin:52px 0 135px}
.checkout-cart .additional .nav-tabs{border-bottom-width:0;background:#f1f2f4}
.checkout-cart .additional .nav-tabs .active a{background-color:#f1f2f4;color:#007dc6}
.checkout-cart .additional .nav-tabs .active a:hover,.checkout-cart .additional .nav-tabs .active a:focus{background-color:#f1f2f4;border-style:none;color:#007dc6}
.checkout-cart .additional .nav-tabs li a{border:0}
.checkout-order .payment-description{display:none;margin:0}
.checkout-order [type=radio]:checked~.payment-description{display:block}
.checkout-order{color:#696868}
.checkout-order .page-title{font-size:16px;line-height:40px}
.checkout-order .section{border-width:1px 0 0;border-style:solid;border-color:#e1e1e1;padding:30px 0}
.checkout-order .section .title{font-weight:bold;margin-bottom:26px;font-size:16px;color:#000;padding-right:15px}
.checkout-order .payment label{padding:5px 15px;border:1px solid #e1e1e1;margin:0 5px;font-size:14px}
.checkout-order .payment input{display:none}
.checkout-order .payment input:checked+label{background:#f1f2f4}
.checkout-order .address .form-edit-address{max-width:585px}
.checkout-order .address .list li{margin-left:5px;padding-right:5px;line-height:40px}
.checkout-order .address .list .edit,.delete,.default{margin-left:10px;color:#007dc6}
.checkout-order .address .list .edit,.checkout-order .address .list .delete{display:none}
.checkout-order .address .list li:hover{background:#F1F2F4}
.checkout-order .address .list li:hover .edit{display:inline}
.checkout-order .address .list li:hover .delete{display:inline}
.checkout-order .address .btn-add{margin-left:20px;margin-top:20px;border-radius:0}
.checkout-order .store th{border:none}
.checkout-order .store th:nth-child(1){padding-left:20px}
.checkout-order .coupon{display:inline-block;background:url(../images/bg-coupon-yellow.png) left top,url(../images/bg-coupon-yellow.png) right top;background-repeat:repeat-y;background-color:#f7bc44;color:#fff;font-size:12px;line-height:25px;padding:0 9px;margin-left:50px}
.checkout-order .coupon .dropdown-menu{min-width:100%;width:auto;color:#696868;border-top-left-radius:0}
.checkout-order .coupon .dropdown-menu label{padding:0 .5em;display:block}
.checkout-order .product-list td{vertical-align:middle}
.checkout-order .product-list .td-name{vertical-align:top;color:#000;font-size:12px}
.checkout-order .product-list .td-name strong{font-weight:normal}
.checkout-order .product-list .options{margin-bottom:0;color:#9c9c9c;font-size:12px;line-height:14px}
.checkout-order .product-list .options dt{display:block;float:left;clear:left;margin-right:4px}
.checkout-order .product-list .options dt:after{content:":"}
.checkout-order .product-list .options dd{display:block;float:left}
.checkout-order .product-list .td-price,.checkout-order .product-list .td-qty{color:#000}
.checkout-order .product-list .td-subtotal{color:#007dc6;font-size:16px;border-right:1px solid #e1e1e1}
.checkout-order .product-list .td-comment{border-right:1px solid #e4e6ec}
.checkout-order .product-list .td-comment .form-control{border-radius:0}
.checkout-order .product-list td select{padding:3px 8px}
.checkout-order .product-list .td-img{padding-left:20px;border-left:1px solid #e1e1e1}
.checkout-order .review .total{border:none}
.checkout-order .review .total th{font-size:12px;color:#000;text-align:right;vertical-align:baseline;border:none;padding:0;line-height:42px}
.checkout-order .review .total td{font-size:12px;color:#000;margin:0;width:120px;vertical-align:baseline;border:none;padding:0 10px;line-height:42px}
.checkout-order .review .total .grand-total th{background:#f1f2f4;font-size:16px}
.checkout-order .review .total .grand-total td{background:#f1f2f4;font-size:25px;line-height:38px;padding-top:14px;color:#007dc6;font-weight:bold}
.checkout-order .review .subtotal{color:#000;background:#f1f2f4;line-height:14px}
.checkout-order .review .subtotal .text-right{font-size:12px}
.checkout-order .review .subtotal input{border-radius:0}
.checkout-order .review .buttons-set{padding:37px 0;border-top:0}
.checkout-order .review .buttons-set .btn-checkout{background:#007dc6;color:#fff;border-radius:0;padding:8px 36px;font-size:18px}
.checkout-order tfoot .total{padding:0}
#cms-layered-nav .title{font-size:18px;line-height:39px;background:#007dc6;color:#fff;text-align:center}
#cms-layered-nav dt a{display:block;text-align:center;background:#f5f6f9;border-bottom:1px solid #64c4fc;font-size:16px;line-height:39px;color:#000}
#cms-layered-nav dt a:after{content:"\2228";display:inline-block;color:#5f5f5f;margin-left:3px;font-size:18px}
#cms-layered-nav dt .collapsed:after{content:"\2227"}
#cms-layered-nav li:first-child{padding-top:12px}
#cms-layered-nav li:last-child{padding-bottom:12px}
#cms-layered-nav li a{display:block;line-height:30px;color:#5f5f5f;font-size:12px;text-indent:65px}
#cms-layered-nav li a:hover{color:#64c4fc}
.trading-success{display:inline-block;max-width:320px;margin:146px 0 300px;position:relative;text-align:left}
.trading-success .title{font-size:24px;line-height:3;letter-spacing:-.1px}
.trading-success .title .fa{color:#fa9116;font-size:50px;position:absolute;right:100%;top:0}
.trading-success .sub-title{font-size:12px;color:#838282;margin-bottom:10px}
.trading-success ul li{margin:0 20px 0 0;font-size:14px;color:#007dc6;text-align:center}
.product-search{margin-bottom:29px;background:#f9f9f9;border:1px solid #e4e2e2;text-indent:30px}
.product-search ul li{float:left;margin-top: 20px;line-height: 25px}
.product-search dl{clear: both;margin-bottom: 20px}
.product-search dt{float: left;line-height:34px;}
.product-search dd input{width:350px;height:34px;border:1px solid #e4e2e2;margin-right:6px}
.product-search dd .btn-default, .btn-default:active, .open>.dropdown-toggle.btn-default{color: #fff;background-color: #fd9030;border:none}
.product-search dd .form-control{display:inline-block}
.catalog-product #review{background:#f1f1f1}
.catalog-product #review nav-tabs li{font-size:12px}
.catalog-product #review a{padding:5px 10px}
.catalog-product .content-li{width:60%}
.catalog-product .subject-li,.content-li{float:left;overflow:hidden}
.catalog-product .subject-li{width:40%}
.catalog-product .review-form{background:#fff}
.catalog-product .review-form span{font-size:16px}
.catalog-product .review-form .review-padding{padding:10px;background:#f1f1f1;height:224px}
.catalog-product .review-form textarea{width:100%}
.catalog-product .review-form .btn{float:right;min-width:100px;height:30px;background-color:#fd9233;color:#fff;border-radius:0;margin-top:5px;font-size:16px;padding:0 20px}
.customer-account-view .panel{width:50%;float:left;margin:20px 0 0;padding:0 10px}
.customer-account-view .wide{width:100%}
.customer-account-view .panel .panel-heading{background:#f5f5f5 none repeat scroll 0 0}
.track dt{clear:both}
.zoomDiv{z-index:999;position:absolute;background:#fff;border:1px solid #ccc;display:none;text-align:center;overflow:hidden;box-sizing:content-box}
.zoomMask{position:absolute;background:url(../images/mask.png) repeat scroll 0 0 transparent;cursor:crosshair;z-index:9}
.catalog-product div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden}
.catalog-product div.zoomMask{position:absolute;background:url(../images/mask.png) repeat scroll 0 0 transparent;cursor:move;z-index:1}

/*=S Stone's CSS */

/* Copy from .customer-account-dashboard */
.retailer-account-dashboard .main-container .dashboard{padding-left:40px;margin-top:16px}
.retailer-account-dashboard .main-container .dashboard .ad{border:1px solid #dfe1e8;height:35px;line-height:35px;padding-left:20px;}
.retailer-account-dashboard .main-container .dashboard .ad-text{color:#e26932} 
.retailer-account-dashboard .main-container .dashboard .ad-a{color:#608fdc}
.retailer-account-dashboard .main-container .dashboard .ad>a{float:right;margin-right:5px;color:#e26932}
.retailer-account-dashboard .main-container .dashboard .myinfo{border:1px solid #dfe1e8;margin-top:20px;padding-left:50px;padding-top:30px;padding-bottom:30px}
.retailer-account-dashboard .main-container .dashboard .infodetail{display:inline-block;height:100px;vertical-align:top}
.retailer-account-dashboard .main-container .dashboard .wel{font-size:14px}
.retailer-account-dashboard .main-container .dashboard .wel-name{font-size:20px}
.retailer-account-dashboard .main-container .dashboard .fa-star{color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .fa-star-o{color:#bcbcbc} 
.retailer-account-dashboard .main-container .dashboard .start{display:inline-block;background-color:#007dc6;color:#ffffff;width:22px;text-align:center}
.retailer-account-dashboard .main-container .dashboard .start-v{font-size:17px}
.retailer-account-dashboard .main-container .dashboard .start-num{font-size:12px}
.retailer-account-dashboard .main-container .dashboard .bal-text{font-size:12px;color:#9e9e9e} 
.retailer-account-dashboard .main-container .dashboard .bal-num{font-size:13px;color:#007dc6;font-weight:bold}
.retailer-account-dashboard .main-container .dashboard .tran-num{font-size:13px;color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .order{margin-top:20px}
.retailer-account-dashboard .main-container .dashboard .myorder{border-bottom:1px solid #dbdee5;margin-top:25px;height:55px;line-height:55px;font-size:14px;color:#007dc6}
.retailer-account-dashboard .main-container .dashboard .myorder-text{border-bottom:1px solid #007dc6;height:55px;line-height:55px;width:150px;text-align:center}
.retailer-account-dashboard .main-container .dashboard .coupon-title{border-bottom:1px solid #dbdee5;margin-bottom:20px;height:55px;line-height:55px;font-size:14px;color:#007dc6}
.retailer-account-dashboard .main-container .coupon{margin-bottom:30px}
/* end copy */

/* Common Setting */
.pad-2{padding:2px}
.pad-5{padding:5px}
.pad-10{padding:10px}
.pad-20{padding:20px}
.pad-20-30{padding:20px 30px}
.pad-left-100{padding-left: 100px;}
.mg-bottom-0{margin-bottom:0;}
.mg-bottom-10{margin-bottom:10px;}
.mg-bottom-20{margin-bottom:20px;}
.mg-bottom-30{margin-bottom:30px;}
.mg-bottom-40{margin-bottom:40px;}
.border-right{border-right: 1px solid #ececec;}
.font-12 {font-size: 12px!important;}
.word-break-all{word-break: break-all;}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 18%;
    float: left;
}
.color-orange{color: #e26932;}

.auto-height {height: auto!important;}
.display-inline-block{display: inline-block!important;}
.width-auto{width: auto!important;}

@media only screen and (min-width: 990px) {
    .store_rating{border-left: 1px dashed #ccc;}
    .middle-dashed-line{border-left: 1px dashed #ccc; border-right: 1px dashed #ccc;}
    .col-mg-right-20{margin-right: 20px;}
    .col-mg-left-20{margin-left: 20px;}
}
.store_rating{padding: 0 0 0 10px;}
.myorder-info{display: inline-block; width: auto; color: #999;}
.view-more{width: auto; color: #999;}
.real-time-index{border: 1px solid #eee; overflow: hidden;}
.index-block dt{margin-bottom: 25px;}
.index-block span{width: 50%; display: inline-block;}
.statistics{overflow: hidden; padding-bottom: 1px;}
.statistics-list{margin-bottom: 20px;}
.statistics-list table{width: 100%;}
.statistics-list table tr{border-bottom: 1px dashed #ccc; }
.statistics-list table td{padding: 5px 0; }

.filter-bar{background: #fafafa none repeat scroll 0 0; border-bottom: 1px solid #cce0e9;  padding: 8px 0;}
.filter-bar .form-control {height: 21px; line-height: 21px; width: 99px; padding: 0 0.75em;}
.filter-bar select.form-control {padding: 0 0.42em;}
.filter-bar .btn{background: #02a0e9 none repeat scroll 0 0; border-radius: 3px; box-shadow: 0 0 4px 1px #0286c4 inset; color: #fff; font-size: 14px; line-height: 1; margin-left: 36px; padding: 5px 10px; text-decoration: none;}

.btn-options{background-color: #fff; border: 1px solid #dcdcdc; color: #3c3c3c; font-size: 12px; height: 24px; line-height: 22px;}

.table-title{background: #f9f9f9 none repeat scroll 0 0; border: 1px solid #ececec; margin-bottom: 5px; text-align: center;}
.table-title td{padding-bottom: 8px; padding-top: 8px; vertical-align: top;}

.table-info{background-color: #f1f1f1;}

.transaction-list{border: 1px solid #ececec; margin-bottom: 5px;}

.list-info td{padding: 8px 0;}
.list-info .good-pic{text-align: left; margin-left: 10px; width: 50px; float: left;}
.list-info .good-pic a {display: block; overflow: hidden;}
.list-info .good-pic a img{display: block; margin: 0 auto; max-width: 100%;}
.list-info .good-title{text-align: left; margin-left: 70px; }
.list-info .good-title p{margin: 8px 0;}
.list-info .good-title p a{color: #3c3c3c; text-decoration: none; word-break: break-all;}

.page-block{text-align: right; }
.page-block ol{display: inline-block;}
.page-block ol li{font-size: 12px; padding: 0 4px;}
.page-block ol li a, .page-block ol li span{border: none; background: none; padding: 5px; color: #02a0e9;}
.page-block ol li button{background: none;}
.page-block .pager .current::before {content: "[";}
.page-block .pager .current::after {content: "]";}

.order-dashboard{background-color: #fff7eb; margin-top: 10px;}
.order-dashboard .bd {background: #fffcf3 none repeat scroll 0 0; border: 1px solid #f7e4a5; padding: 20px 30px;}
.order-dashboard .tbnotes {border-top: 1px solid #ddd; line-height: 21px; margin-top: 15px; padding-top: 5px;
}
.order-dashboard .tbnotes span {color: #f60; font-weight: 700;}

.tabs-container {margin: 20px 0; position: relative;}
.tabs-container .tabs-nav {left: 20px; position: absolute; z-index: 50;}
.tabs-container .tabs-nav li {background: rgba(0, 0, 0, 0) url("../images/tabview_bg.gif") no-repeat scroll 0 6px;  cursor: pointer; display: inline; float: left; height: 30px; line-height: 21px; margin-right: 3px; padding-top: 8px; text-align: center; width: 130px;}
.tabs-container .tabs-nav .current {background-position: 0 -40px;}
.tabs-container .tabs-panels {border: 1px solid #aec7e5; clear: both; margin-bottom: 40px; overflow: hidden; padding: 10px 20px; position: relative; top: 29px;}
.tabs-container .contact-info th, .contact-info td{padding: 5px 10px 5px 0;}
.tabs-container .contact-info h4 {font-weight: bold; font-size: 14px;}
.tabs-container .order-hd {background: #e8f2ff none repeat scroll 0 0; color: #404040;}
.tabs-container .order-hd .item {border-left: 1px solid #ddd;}
.tabs-container .order-hd th {border-bottom: 1px solid #ddd; line-height: 130%; padding: 8px 10px; text-align: center;}
.tabs-container .order-hd .last {border-right: 1px solid #ddd;}
.tabs-container .order-item .item {border-left: 1px solid #ddd;}
.tabs-container .order-item .pic-info {display: inline; float: left; margin-right: 5px;}
.tabs-container .order-item .pic-info .pic {border: medium none; overflow: hidden; width: 50px; height: 50px;}
.tabs-container .order-item .pic-info .pic img{display: block; margin: 0 auto; max-width: 100%;}
.tabs-container .order-item .order-price {line-height: 18px; padding: 10px 0 5px; vertical-align: middle; text-align: center;}
.tabs-container .order-ft .get-money, .order-ft .trade-money {clear: both; display: inline; float: right; line-height: 23px; padding-top: 15px; text-align: right;}
.tabs-container .order-ft .get-money strong {color: #f50; font-size: 16px; font-weight: 700; padding-right: 5px;}
.tabs-container .misc-info .label {margin-right: 5px; text-align: right; width: 90px;}
.tabs-container .misc-info span {display: inline-block;}
.tabs-container .info-box table {table-layout: fixed;}
.tabs-container .simple-list {border-top: 1px solid #eed; margin-bottom: 20px; width: 100%;}
.tabs-container .simple-list th, .simple-list td {padding: 7px 0;}
.tabs-container .simple-list th {vertical-align: top; width: 100px;}

.btn-submit, .btn-reset, .btn-delete, .btn-theme, .btn-add {background: #02a0e9 none repeat scroll 0 0; border: 1px solid #797979; border-radius: 5px; color: #fff; font-size: 13px; line-height: 1; padding: 5px 13px;}

.product-edit .control-label.required::before {color: #f00; content: "*";}
.product-edit .input-box {display: table-row; position: relative;}
.product-edit .input-box .control-label {display: table-cell; padding: 4px; vertical-align: top; white-space: nowrap; width: 1px;}
.product-edit .input-box .cell {display: table-cell; font-size: 13px; line-height: 2; padding: 4px; position: relative; vertical-align: top;}
.product-edit .buttons-set {background: #f7f8fa none repeat scroll 0 0; margin: 26px 0 0; padding: 20px 20px 20px 50px;}
.product-edit .tab-pane {padding: 10px 0 0 30px;}
.product-edit .nav-tabs {border-bottom: 1px solid #cce0e9; margin-top: 15px;}
.product-edit .nav-tabs ~ .tab-pane {display: none;}
.product-edit .tab-pane.active {display: table;}
.product-edit .widget-upload .add {font-size: 32px; line-height: 139.2px; text-decoration: none; vertical-align: middle;}
.product-edit .grid .table.category ul {clear: both; padding-left: 2em;}
.product-edit .control-label {-moz-user-select: none; color: #000; display: block; font-size: 13px; line-height: 26px; width: 100%;}
.product-edit td.checkbox {display: table-cell;}
.product-edit .checkbox input[type=checkbox]{margin-left: 0; position: relative;}
.product-edit .nav-tabs li a{padding: 10px;}
.product-edit .nav-tabs > .error > a {color: red;}
.product-edit .form-control.invalid {border-color: red;}
.product-edit label.invalid {background: #000 none repeat scroll 0 0; border-radius: 3px; bottom: 100%; color: #fff; display: inline-block; font-size: 12px; left: 0; margin-bottom: 3px; padding: 2px 8px; position: absolute; text-align: center;}
.product-edit label.invalid::after {-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #000 transparent -moz-use-text-color; border-image: none; border-style: solid solid none; border-width: 3px 3px medium; content: " "; left: 50%; position: absolute; top: 100%;}
.product-edit input.form-control{height: auto;}
.product-edit .control-label{display: inline-block; margin-right: 2px; vertical-align: top; width: auto;}


/*=E Stone's CSS end' */

/* sales products css - ammon */
.sales-products .control-right{color:#6699ff}
.sales-products .myfilters{margin-top:13px}
.sales-products .myfilters ul,.sales-products .myfilters li{margin:0px;padding: 0px; list-style: none;} 
.sales-products .myfilters li{float:left;width:300px;margin-bottom:20px}
.sales-products .myfilters input[type=text]{width:150px;height:26px;margin-left:11px;}
.sales-products .myfilters input[type=text].small-text{width:69px}
.sales-products .myfilters input[type=text].small-text.nomargin{margin-left:0px}
.sales-products .myfilters select{margin-left:11px;padding:1px 12px;height:26px}
.sales-products .seperation{width:100%;border:1px solid #6699ff;margin:11px 0px;}
.sales-products .seperation-title{margin-top:18px}
.sales-products .products-content td{border:0px}
.sales-products .products-content .table-title{border:0px}
.sales-products .products-content .function-seperation{color:#CCCCCC;margin:0px 3px}
.sales-products .products-content .btn-options.enhancement{background-color:rgba(204, 204, 204, 0.15);font-size:13px} 
.sales-products .products-content .list-info .recommend{width:20px;float:left;font-size:12px;color:#fd6a30}
.sales-products .products-content .list-info .good-pic{margin-top:11px}
.sales-products .products-content .list-info .good-title{margin-left:90px}
.sales-products .products-content .transaction-list-sales{border-bottom:1px solid #EDEDED}
.sales-products .products-content .transaction-list-sales .money{color:#fd6a30}
/* end */

/* Store decoration */
.retailer-stor{}
.retailer-store .banner{margin: 5px auto 20px; text-align: center;}
.retailer-store .hot-product{margin-bottom: 10px;}
.retailer-store .hot-product .title{padding: 0 0 5px 0; border-bottom: 1px solid #FD9030; margin-bottom: 10px;}
.retailer-store .hot-product .title h2{color: #333; font-size: 14px; font-weight: bold;}
.retailer-store .hot-product .content{border: 1px solid #ccc; overflow: hidden; padding: 20px; text-align: center;}
.retailer-store .hot-product .content ul{}
.retailer-store .hot-product .content ul li{padding: 10px 20px;}
.retailer-store .hot-product .content ul li .pic{width: 100%;}
.retailer-store .hot-product .content ul li .price{text-align: left;}
.retailer-store .hot-product .content ul li .price .actural{color: #FD9030; font-size: 15px; font-weight: bold;}
.retailer-store .hot-product .content ul li .price .discount{text-decoration: line-through; color: #757474;}
.retailer-store .hot-product .content ul li h3.product-name{text-align: left; color: #757474; font-size: 14px; font-weight: bold;}
.retailer-store .hot-product .content ul li .paid-count{color: #757474; text-align: left;}
.retailer-store .search{margin-bottom: 10px; border: 1px solid#ccc; padding: 15px; background: #f5f6f9;}
.retailer-store .retailer-prompt .title{padding: 0 0 5px 0; border-bottom: 1px solid #FD9030; margin-bottom: 10px;}
.retailer-store .retailer-prompt .title h2{color: #333; font-size: 14px; font-weight: bold; display: inline-block; padding-right: 50px;}
.retailer-store .retailer-prompt .title span{color: #333; font-size: 13px; font-weight: bold; float: right; display: inline-block; width: auto;}
.retailer-store .retailer-prompt .content{overflow: hidden; padding: 0px 10px 20px; text-align: center;}
.retailer-store .retailer-prompt .content .prompt-small{padding: 5px;}
.retailer-store .retailer-prompt .content .prompt-small img{width: 100%;}
.retailer-store .retailer-prompt .content .prompt-big{padding: 5px;}
.retailer-store .retailer-prompt .content .prompt-big .pic{width: 80%;}
.retailer-store .retailer-prompt .content .prompt-big .price{text-align: left; width: 80%; margin: 0 auto;}
.retailer-store .retailer-prompt .content .prompt-big .price .actural{color: #FD9030; font-size: 15px; font-weight: bold;}
.retailer-store .retailer-prompt .content .prompt-big .price .discount{text-decoration: line-through; color: #757474;}
.retailer-store .retailer-prompt .content .prompt-big h3.product-name{text-align: left; color: #757474; font-size: 14px; font-weight: bold; width: 80%; margin: 0 auto;}
.retailer-store .retailer-prompt .content .prompt-big .paid-count{color: #757474; text-align: left; width: 80%; margin: 0 auto;}
.retailer-store .local-search{margin-bottom: 10px;}
.retailer-store .local-search .title{padding: 5px 0px 10px 5px; background: #FD9030;}
.retailer-store .local-search .title h2{color: #fff; font-size: 14px; font-weight: bold; display: inline-block; padding-right: 50px;}
.retailer-store .local-search .search-table{padding: 10px; border: 1px solid #ccc;}
.retailer-store .local-search .search-table td {padding: 2px 3px;}
.retailer-store .local-search .search-table td.label{color: #666;}
.retailer-store .local-search .search-table input{ border: 1px solid #eee;}
.retailer-store .local-search .search-table input.price-from{width: 40%;}
.retailer-store .local-search .search-table input.price-to{width: 40%;}
.retailer-store .category{margin-bottom: 10px;}
.retailer-store .category .title{padding: 5px 0px 10px 5px; background: #FD9030;}
.retailer-store .category .title h2{color: #fff; font-size: 14px; font-weight: bold; display: inline-block; padding-right: 50px;}
.retailer-store .category .content{padding: 10px; border: 1px solid #ccc;}
.retailer-store .category .content .category_list{}
.retailer-store .category .content .category_list li{padding: 2px 0;}
.retailer-store .statics{margin-bottom: 10px;}
.retailer-store .statics .content{border: 1px solid #ccc; overflow: hidden; padding: 10px;  }
.retailer-store .statics .title{padding: 5px 0px 10px 5px; background: #FD9030;}
.retailer-store .statics .title h2{color: #fff; font-size: 14px; font-weight: bold; display: inline-block; padding-right: 50px;}
.retailer-store .statics .content ul{}
.retailer-store .statics .content ul li .pic{width: 100%;}
.retailer-store .statics .content ul li .price{text-align: left;}
.retailer-store .statics .content ul li .price .actural{color: #FD9030; font-size: 15px; font-weight: bold;}
.retailer-store .statics .content ul li .price .discount{text-decoration: line-through; color: #757474;}
.retailer-store .statics .content ul li h3.product-name{text-align: left; color: #757474; font-size: 14px; font-weight: bold;}
.retailer-store .statics .content ul li .paid-count{color: #757474; text-align: left;}
.retailer-store .statics .content ul li .paid-count .sales-num{color:#FD9030; font-size: 15px;}
.retailer-store .products{margin-bottom: 10px; padding: 0 10px;}
.retailer-store .products .title{padding: 5px 0px 10px 5px; background: #FD9030;}
.retailer-store .products .title h2{color: #fff; font-size: 14px; font-weight: bold; display: inline-block; padding-right: 50px;}
.retailer-store .products .content{overflow: hidden; padding: 10px; text-align: center; }
.retailer-store .products .content ul{}
.retailer-store .products .content ul li{padding: 10px 20px;}
.retailer-store .products .content ul li .pic{width: 100%;}
.retailer-store .products .content ul li .price{text-align: left;}
.retailer-store .products .content ul li .price .actural{color: #FD9030; font-size: 15px; font-weight: bold; width: 50%; display: inline-block;}
.retailer-store .products .content ul li .price .paid-count{color: #757474; text-align: right; width: 50%; display: inline-block;}
.retailer-store .products .content ul li h3.product-name{text-align: left; color: #757474; font-size: 14px; font-weight: bold;}

.decorationlist .title{font-size:18px;color:#FF0000;margin-right:11px}
/* end */

