/nbproject/
/vendor/
/composer.lock
/var/
/app/config/adapter.yml
*.log
*.jar
*.war
*.ear
*.class
*.sh
*.sql
*objects4
tmp/
*.tmp
*.bak
*.swp
.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
.apdisk
*.lnk
*.cab
*.msi
*.msm
*.msp
$RECYCLE.BIN/
Desktop.ini
Thumbs.db
ehthumbs.db
*~
.target
.gradle
*.pydevproject
.buildpath
.project
.metadata
*.launch
*~.nib
local.properties
.classpath
.settings/
.loadpath
.cproject
.texlipse
.externalToolBuilders/
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.7z
*.dmg
*.iso
*.rar
*.dll
*.exe
*.rpm
*.so