<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^/pub/resources/resized/(\d+)x(\d*)/(.*)$ ../../resource/resize/?width=$1&height=$2&file=$3
</IfModule>
