<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.2/phpunit.xsd"
         bootstrap="./bootstrap.php"
         verbose="true">
    <testsuites>
        <testsuite name="Seahinet">
            <directory suffix=".php">../app/code/*/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../app/code/*</directory>
            <exclude>
                <directory>../app/code/*/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
