<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule .*image/resized/(?:\d+x\d*)/.+\.(?:jpe?g|png|gif|w?bmp|xbm)$ ../../index.php [L]
</IfModule>