html{height:100%;font:16px/1.25 "Microsoft Yahei",SimHei,"WenQuanYi Zen Hei",STHeiti,sans-serif}
[lang|=en]{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}
body{height:100%;position:relative;min-width:320px}
*,*:before,*:after{box-sizing:border-box}
a{color:inherit;text-decoration:none}
a:focus,a:hover{text-decoration:underline}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:normal}
ul,ol,dl{list-style:none;margin:0;padding:0}
ul>li,ol>li,dl>dt,dl>dd{margin:0;padding:0}
address{font-style:normal}
input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
button,html input[type="button"],input[type="reset"],input[type="submit"],label[for]{cursor:pointer}
.cookies .global-notice .no-cookie{display:none}
.input-box{position:relative}
.input-box+.input-box{margin-top:12px;margin-top:.75rem}
.list-inline,.form-inline,.breadcrumb,.pager{font-size:0}
.list-inline>*{display:inline-block}
.text-center{text-align:center!important}
.text-left{text-align:left!important}
.text-right{text-align:right!important}
.text-nowrap{white-space:nowrap}
.text-vtop{vertical-align:top!important}
.text-vmiddle{vertical-align:middle!important}
.text-vbottom{vertical-align:bottom!important}
.dropdown{position:relative}
.dropdown-menu{display:none;position:absolute;z-index:9}
.dropdown.open>.dropdown-menu,.no-touchevents .dropdown:hover>[data-toggle=dropdown]+.dropdown-menu{display:block}
.table{width:100%;max-width:100%;border-spacing:0}
.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:8px;text-align:center;vertical-align:top;border-top:1px solid #ddd}
.table>thead>tr>th{vertical-align:bottom;border-bottom:1px solid #ddd;white-space:nowrap}
.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>th,.table>caption+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>td,.table>thead:first-child>tr:first-child>td{border-top:0}
.table-no-border th,.table-no-border td{border:none!important}
.table-striped>tbody>tr:nth-child(even){background-color:#f9f9f9}
.table-hover>tbody>tr:hover{background-color:#f5f5f5!important}
.nav-tabs{border-bottom:1px solid #CCE0E9}
.nav-tabs>li{float:left;margin-bottom:-1px}
.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#555;cursor:default;background-color:#fff;border:1px solid #CCE0E9;border-bottom-color:transparent}
.nav-tabs~.tab-pane{display:none}
.nav-tabs~.tab-pane.active{display:block}
.breadcrumb li{display:inline}
.breadcrumb li:not(.label)+li:before{content:">";margin:0 4px}
.alert{padding:6px 12px;font-size:12px;line-height:1;border:1px solid transparent}
.alert a{font-weight:bold}
.alert-success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}
.alert-success a{color:#2b542c}
.alert-info{color:#31708f;background-color:#d9edf7;border-color:#bce8f1}
.alert-info a{color:#245269}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}
.alert-warning a{color:#66512c}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-danger a{color:#843534}
.pager li{display:inline}
.clearfix{*zoom:1}
.clearfix:after{content:" ";display:block;clear:both;width:0;height:0;padding:0;margin:0;overflow:hidden;border:0}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
label,.label{vertical-align:top}
[type=checkbox],[type=radio]{vertical-align:text-top}
.control-label{display:block;width:100%;font-size:13px;line-height:26px;color:#000;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.control-label.required:before{content:"*";color:#f00}
.form-control{display:block;width:100%;height:26px;padding:0 .75em;font-size:12px;line-height:26px;color:#555;background-color:#fff;background-image:none;border:1px solid #8b8c8c;transition:border-color ease-in-out .15s}
.form-control:focus{border-color:#009fe9;outline:none}
.form-control::-moz-placeholder,.form-control:-ms-input-placeholder,.form-control::-webkit-input-placeholder{color:#999}
textarea.form-control,select[multiple].form-control{height:4em}
.form-inline .form-control,.form-control.captcha{display:inline-block;width:auto;vertical-align:top}
.form-inline .control-label{display:inline-block;width:auto;vertical-align:top;margin-right:2px}
.form-control.captcha~.captcha{vertical-align:top;margin-left:4px;cursor:pointer}
.form-control.invalid{border-color:red}
label.invalid{font-size:12px;position:absolute;bottom:100%;margin-bottom:3px;left:0;background:#000;color:#fff;border-radius:3px;padding:2px 8px;text-align:center}
label.invalid:after{content:" ";position:absolute;left:50%;top:100%;border:3px solid transparent;border-top-color:#000;border-bottom:none}
.form-control[type=checkbox],.form-control[type=radio]{width:auto;height:auto;padding:0;background:none;border:none;vertical-align:top;display:inline-block;margin-top:5px}
.btn{display:inline-block;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:none;border:none}
.btn:focus{outline:none}
.btn-submit,.btn-reset,.btn-delete{color:#fff;background:#02A0E9;border:1px solid #797979;border-radius:5px;padding:5px 13px;font-size:13px;line-height:1}
.btn-submit:hover,.btn-reset:hover,.btn-submit:focus,.btn-reset:focus,.btn-delete:hover,.btn-delete:focus{background:#028ccc}
.admin-login{background:#9c9d9d}
.admin-login .page-title{font-size:18px;line-height:126px;text-indent:45px;text-indent:2.8125rem;color:#000}
.admin-login .page-title [lang|=en]{font-size:27px}
.admin-login .copyright{text-align:center;font-size:12px;line-height:100px}
.admin-login .main-container{position:relative;z-index:2;min-height:114px;height:380px;height:calc(100% - 226px)}
.admin-login .footer{position:absolute;bottom:0;left:0;width:100%}
.admin-login .panel-login{width:538px;width:33.625rem;position:absolute;top:0;left:50%;margin:0 0 0 -269px;margin:0 0 0 -16.8125rem;padding:43px 0;border:1px solid #eee;border-radius:8px;background-color:#cacbcb;background-image:url(../images/logo-top.png);background-repeat:no-repeat;background-position:40px 50%}
.admin-login .panel-login label.invalid{left:54px}
.svg .admin-login .panel-login{background-image:url(../images/logo-top.svg);background-size:143px 137px}
.csscalc .admin-login .panel-login{left:calc(50% - 16.8125rem);top:calc(50% - 168px);margin:0}
.admin-login .panel-login .panel-body{width:60%;float:right;border-left:3px solid #dbdcdc;padding:8px 47px 0}
.admin-login .panel-login .control-label{width:65px;width:4.0625rem}
.admin-login .panel-login .form-control{width:156px;width:9.75rem}
.admin-login .panel-login .form-control[type=checkbox]{width:auto;height:auto;margin:7px 7px 0 52px}
.admin-login .panel-login .form-control.captcha{width:81px;width:5.0625rem}
.admin-login .panel-login [type=checkbox].form-control+.control-label{width:auto}
.admin-login .panel-login .additional{margin:24px 0;font-size:12px}
.admin-login .panel-login .additional .forgot-pwd{margin-left:52px}
.admin-login .panel-login .btn{border-radius:5px;border:1px solid #8d8e8e;font-size:18px;padding:8px 38px;color:#000;background:#fff;box-shadow:0 0 6px #999 inset}
.admin-login .panel-login .btn:focus,.admin-login .panel-login .btn:hover{background:#eee}
.admin .header{height:45px;border-bottom:1px solid #e7e7e7;position:fixed;top:0;left:0;z-index:9;background:#fff;width:100%}
.admin .header #nav-toggle{text-align:center;line-height:45px;height:45px;display:block;width:52px;float:left;color:#333;border-right:1px solid #e7e7e7;background:#fff}
.admin .header #nav-toggle .fa:before{content:"\f03c"}
.admin .header #nav-toggle.active .fa:before{content:"\f03b"}
.admin .header .logo{float:left;width:160px;padding:5px 0 0 22px;overflow:hidden;max-height:40px}
.admin .header .top-menu{float:right;width:200px;font:0/44px SimSun,STSong,serif;color:#3d3d3d;text-align:right;padding:0}
.admin .header .top-menu>*{display:inline-block;font-size:14px;border-left:1px solid #e7e7e7;padding:0 .75rem;text-decoration:none;vertical-align:top}
.admin .header .top-menu>*:hover,.admin .header .top-menu>.open{background:#eee}
.admin .header .top-menu .dropdown{display:inline-block;padding:0}
.admin .header .top-menu .dropdown .dropdown-toggle{display:inline-block;width:44px;font-size:16px;text-align:center}
.admin .header .top-menu .messages .badge{display:none;position:absolute;top:5px;left:5px;min-width:10px;padding:1px 4px;font-size:12px;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#F08300;border-radius:10px}
.admin .header .top-menu .messages.has-message .badge{display:block}
.admin .header .top-menu .dropdown .dropdown-menu{display:none;right:-1px;width:10rem;border-radius:0 0 5px 5px;padding:5px 0;border:1px solid #e7e7e7;background:#fff}
.admin .header .top-menu .messages.open.has-message .dropdown-menu,.admin .header .top-menu .language.open .dropdown-menu{display:block}
.admin .header .top-menu .messages .dropdown-menu .alert{border-left:none;border-right:none;text-align:left}
.admin .header .top-menu .language .current{display:none}
.admin .header .top-menu .language .dropdown-menu{width:auto;text-align:center}
.admin .header .top-menu .language .dropdown-menu a{display:block;line-height:2;white-space:nowrap;padding:0 10px}
.admin .nav-container{display:block;position:fixed;top:0;left:0;z-index:8;height:100%;width:51px;background:#464646;padding:54px 0 0;transition:width .6s}
.admin .nav-container .nav>.item{border-bottom:1px solid #515151}
.admin .nav-container .nav>.item>a{display:block;text-align:center;color:#fff;text-decoration:none}
.admin .nav-container .nav>.item>a>.fa{font-size:20px;line-height:51px}
.admin .nav-container .nav>.item>a>.title{display:none;color:#0cf;font-size:15px;line-height:24px;white-space:nowrap;text-align:left}
.admin .nav-container .nav>.item>a>.title:before{content:" ";margin:0 4px 0 14px;height:0;width:0;display:inline-block;border:4px solid transparent;border-left-color:#868686;vertical-align:1px}
.admin .nav-container .nav>.item.open>a>.title:before{border:4px solid transparent;border-top-color:#868686;vertical-align:-1px;margin:0 6px 0 12px}
.admin .nav-container .nav>.item.open>a,.admin .nav-container .nav>.item:hover>a,.admin .nav-container .nav>.item:focus>a{background:#333;text-decoration:none}
.admin .nav-container .nav .dropdown-menu{left:100%;top:0;background:#3e3d3d;min-width:146px}
.admin .nav-container .nav .dropdown-menu>.item a{border-bottom:1px solid #494848;display:block;width:100%;line-height:32px;font-size:12px;color:#9e9d9d;white-space:nowrap;padding-right:10px}
.admin .nav-container .nav .dropdown-menu>.item a:before{content:"\f105";transition:margin-right ease .5s;font-family:FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin:0 10px}
.admin .nav-container .nav .dropdown-menu>.item:hover a:before{margin-right:15px}
.admin .nav-container .nav .dropdown-menu>.item a:focus,.admin .nav-container .nav .dropdown-menu>.item a:hover{text-decoration:none;color:#fff}
.admin .nav-container.active{width:172px;overflow:hidden;background:#3e3d3d}
.admin .nav-container.active .nav>.item{border:none}
.admin .nav-container.active .nav>.item>a>.fa{display:none}
.admin .nav-container.active .nav>.item>a>.title{display:block}
.admin .nav-container.active .nav>.item.dropdown>.dropdown-menu{position:static;width:100%;background:none}
.admin .nav-container.active .nav .dropdown-menu>.item a{border:none;line-height:24px;font-size:12px;padding:0 25px;white-space:normal}
.admin .nav-container.active .nav .dropdown-menu>.item a:before{display:none}
.admin .main-container{display:block;width:100%;float:right;height:100%;padding-top:45px;padding-left:51px;transition:padding .6s}
.admin .nav-container.active~.main-container{padding-left:172px}
.admin .breadcrumb{padding-left:10px;border-bottom:1px solid #cce0e9;background:#f7f8fa}
.admin .breadcrumb li{font-size:12px;color:#6c6c6c;line-height:30px}
.admin .breadcrumb li:before{color:#6c6c6c}
.admin .breadcrumb .current{color:#02a0e9}
.admin .breadcrumb .buttons-set{float:right;width:50%;padding-right:10px;font-size:12px;line-height:30px;text-align:right;color:#6c6c6c}
.admin .breadcrumb .buttons-set+ol{float:left;width:50%}
.admin .grid .filters{background:#f7f8fa;border-bottom:1px solid #cce0e9;padding:9px 0 7px}
.admin .grid .filters .input-box{display:inline-block;padding:12px 0 12px 23px;margin:0;vertical-align:top}
.admin .grid .filters .control-label{line-height:21px;font-size:12px;color:#6c6c6c}
.admin .grid .filters .form-control{width:99px;height:21px;line-height:21px;border-radius:4px;border:1px solid #a3a3a3;box-shadow:0 0 6px #999 inset}
.admin .grid .filters .to{font-size:21px;line-height:21px;color:#6c6c6c;margin:0 5px}
.admin .grid .filters .buttons-set{display:inline-block;vertical-align:top;margin:0}
.admin .grid .filters .buttons-set .btn{color:#fff;background:#02a0e9;box-shadow:0 0 4px 1px #0286c4 inset;padding:9px 20px;font-size:18px;line-height:1;margin-left:36px;border-radius:3px;text-decoration:none}
.admin .grid .filters .buttons-set .btn:hover,.admin .grid .filters .buttons-set .btn:focus{background:#028ccc}
.admin .grid td,.admin .grid th{padding:7px 8px}
.admin .grid .sort-by th{background:#f7f8fa;color:#02a0e9}
.admin .grid .table{font-size:12px;padding:20px}
.admin .grid .table-striped>tbody>tr:nth-child(even){background-color:#f3fbfe}
.admin .grid .table tfoot{color:#02a0e9}
.admin .grid .table tfoot .pager{display:inline}
.admin .grid .table tfoot .pager li{font-size:12px;padding:0 4px}
.admin .grid .table tfoot .pager .current:before{content:'['}
.admin .grid .table tfoot .pager .current:after{content:']'}
.admin .grid .table tfoot .pager .first{border-right:1px solid}
.admin .grid .table tfoot .pager .last{border-left:1px solid}
.admin .grid .table .checkbox,.admin .grid .table .action{width:1px;white-space:nowrap}
.admin .grid .table .action a+a{margin-left:4px}
.admin .edit .nav-tabs{padding-left:30px}
.csscalc .admin .edit .nav-tabs{padding:0;margin-left:30px;width:calc(100% - 30px)}
.admin .edit .nav-tabs>li>a{font-size:13px;color:#333;border-radius:0;padding:1px 12px;text-decoration:none;display:block}
.admin .edit .nav-tabs>li>a:hover{background:#999}
.admin .edit .page-title{font-size:1.125rem;line-height:3.33333333;padding:0 0 0 30px;background:#fafafa}
.admin .edit .page-title:before{content:'\f040';margin:0 10px;font-family:FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.admin .edit .tab-pane{padding:10px 0 0 30px}
.admin .edit .tab-pane.active{display:table}
.admin .edit .tab-pane .input-box{display:table-row}
.admin .edit .tab-pane .control-label{display:table-cell;white-space:nowrap;width:1px;padding:4px;vertical-align:top}
.admin .edit .tab-pane .cell{display:table-cell;position:relative;padding:4px;line-height:2;font-size:13px}
.admin .edit .tab-pane .cell .form-control{max-width:320px}
.admin .edit dl+dl{margin-top:30px}
.admin .edit dd:nth-child(even){background:#fafafa}
.admin .edit .buttons-set{margin:26px 0 0;background:#F7F8FA;padding:20px 20px 20px 50px}
.admin .dashboard{padding:30px 0 30px 30px}
.admin .dashboard .table{border:1px solid #ccc}
.admin .dashboard .table .caption{border-bottom:1px solid #ccc;text-indent:30px}
.admin .dashboard .table .row{display:table;padding:20px 0;width:100%}
.admin .dashboard .table .cell .detail>li{display:table-row}
.admin .dashboard .table .cell{display:table-cell}
.admin .dashboard .table .cell+.cell{border-left:1px solid #ccc}
.admin .dashboard .table .cell .title{width:50%;text-align:right;font-size:12px;line-height:24px}
.admin .dashboard .table .cell .title .data{font-size:24px}
.admin .dashboard .table .cell .detail{display:table;margin:0 auto;padding:15px 0}
.admin .dashboard .table .cell .detail>li>span{display:table-cell;width:50%;font-size:13px;line-height:18px}
.admin .dashboard .chart{margin-top:30px;border:1px solid #ccc}
.admin .dashboard .chart #canvas{padding:20px;max-width:100%}
.admin .dashboard .chart .filter{padding:0 20px;border-bottom:1px solid #ccc}
.admin .dashboard .chart .filter select,.admin .dashboard .chart .filter .date{background:#fff;border:1px solid #ccc;height:26px;font-size:12px;line-height:1;padding:3px 6px;margin:2px 0}
.admin .dashboard .chart .filter .btn{float:right;border:none;border-radius:3px;background:#00BA35;color:#fff;padding:0 18px;font-size:12px;line-height:30px;vertical-align:top}
.admin .dashboard .chart #filter~*{display:none}
.admin>.footer{position:fixed;bottom:10px;left:0;width:51px;filter:alpha(Opacity=0);opacity:0;z-index:9;overflow:hidden;pointer-events:none}
.admin>.footer .copyright{width:100%;color:#7c7c7c;font-size:10px;line-height:1.929;white-space:nowrap;padding-left:9px}
.admin>.footer .copyright strong{display:block;margin-bottom:6px}
.admin .nav-container.active~.footer{opacity:1;width:172px;transition:opacity .6s .6s}
@media (max-height:480px){.admin>.footer{display:none}}
